Repository apache/streampark, pull requests merged in 2022-12, with the labels that each got.

#2116 [bug]The specified args expire after the copy task
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

#2121 [Improve] Fix some bugs and typo in flink-connector-redis
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/bean/RedisContainer.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/bean/RedisMapper.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/conf/RedisSinkConfigOption.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/sink/RedisSink.scala
Labels: FLINK

#2119 [Improve] cluster id tips i18n support.
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
Labels: WEB UI

#2120 [bug]Solve the alarm failure problem
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/K8sFlinkChangeEventListener.java
Labels: BACKEND

#2123 [Bug] update password bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/User.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/user-dropdown/PasswordModal.vue
  streampark-console/streampark-console-webapp/src/locales/lang/en/sys.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/sys.ts
Labels: WEB UI, BACKEND

#2125 [Fix] copy api bug fix
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useDetail.ts
Labels: WEB UI

#2124 [Bug] deploy flink on k8s-application mode bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
Labels: WEB UI, BACKEND

#2105 Postgres syntax error fixed
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BUILD, BACKEND

#2127 [bug]ingress is not cleared after mission cancellation
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

#2126 [Bug] pgsql ddl bug fixed
  streampark-console/streampark-console-service/src/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BUILD, BACKEND

#2095 [bug]Repair helm is unavailable
  deploy/docker/docker-compose.yaml
  deploy/helm/streampark/.helmignore
  deploy/helm/streampark/Chart.yaml
  deploy/helm/streampark/conf/streampark-console-config/ValidationMessages.properties
  deploy/helm/streampark/conf/streampark-console-config/application-h2.yml
  deploy/helm/streampark/conf/streampark-console-config/application-mysql.yml
  deploy/helm/streampark/conf/streampark-console-config/application-pgsql.yml
  deploy/helm/streampark/conf/streampark-console-config/application.yml
  deploy/helm/streampark/conf/streampark-console-config/kerberos.yml
  deploy/helm/streampark/conf/streampark-console-config/logback-spring.xml
  deploy/helm/streampark/conf/streampark-console-config/spy.properties
  deploy/helm/streampark/templates/NOTES.txt
  deploy/helm/streampark/templates/_helpers.tpl
  deploy/helm/streampark/templates/configmap.yaml
  deploy/helm/streampark/templates/ingress.yaml
  deploy/helm/streampark/templates/rbac.yaml
  deploy/helm/streampark/templates/service.yaml
  deploy/helm/streampark/templates/serviceaccount.yaml
  deploy/helm/streampark/templates/streampark.yml
  deploy/helm/streampark/values.yaml
Labels: DOCKER

#2128 [Improve] project && system settings module i18n support.
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/setting.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/setting.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/project.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/useProject.ts
  streampark-console/streampark-console-webapp/src/views/flink/setting/AddCluster.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/EditCluster.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/FlinkClusterSetting.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/FlinkEnvModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/SystemSetting.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/hooks/useClusterSetting.ts
Labels: WEB UI

#2129 [Fix] helm bug fix
  deploy/helm/streampark/templates/streampark.yml
Labels: DOCKER

#2130 [Improve] i18n Improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/setting.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/setting.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/menu.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useDetail.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/project.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/useProject.ts
  streampark-console/streampark-console-webapp/src/views/flink/setting/AddCluster.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/EditCluster.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/FlinkClusterSetting.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/FlinkEnvModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/hooks/useClusterSetting.ts
Labels: WEB UI

#2134 [Fix]: add kubernetesClusterId pattern
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/hooks/web/useECharts.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useScript.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useWatermark.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/main.ts
  streampark-console/streampark-console-webapp/src/utils/lib/echarts.ts
  streampark-console/streampark-console-webapp/src/utils/propTypes.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/vite.config.ts
Labels: WEB UI

#2133 [Bug] In postgres, the join syntax must take on,and compatible with MySQL syntax
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
Labels: BACKEND

#2132 [Bug] add exists flink cluster bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkTrackingTask.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/enums/appEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/setting.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/setting.ts
  streampark-console/streampark-console-webapp/src/logics/initAppConfig.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/setting/EditCluster.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/FlinkClusterSetting.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/hooks/useClusterSetting.ts
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/YarnApplicationSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/YarnSessionSubmit.scala
Labels: WEB UI, BACKEND, FLINK

#2137 [Bug] The way to add the field dynamic_properties in the table t_flink_cluster is wrong
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/2.0.0.sql
Labels: BUILD, BACKEND

#2139 [Bug] project git clone by ssh bug fixed
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/2.0.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/GitUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/GitProtocol.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ProjectBuildTask.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/GitUtilsTest.java
  streampark-console/streampark-console-webapp/src/enums/projectEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/project.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/useProject.ts
Labels: BUILD, WEB UI, BACKEND

#2141 [Bug] update mysql.version from '8.0.16' to '8.0.27' as CVE-2021-2471.
  pom.xml
Labels: BUILD

#2143 [Improve] logo Improvement
  streampark-console/streampark-console-webapp/src/assets/images/logo-bg.jpg
  streampark-console/streampark-console-webapp/src/assets/images/logo-text.png
  streampark-console/streampark-console-webapp/src/assets/images/logo-text.svg
  streampark-console/streampark-console-webapp/src/assets/images/logo.svg
  streampark-console/streampark-console-webapp/src/assets/images/sign-bg.jpg
  streampark-console/streampark-console-webapp/src/assets/svg/preview/p-rotate.svg
  streampark-console/streampark-console-webapp/src/assets/svg/preview/resume.svg
  streampark-console/streampark-console-webapp/src/assets/svg/preview/scale.svg
  streampark-console/streampark-console-webapp/src/assets/svg/preview/unrotate.svg
  streampark-console/streampark-console-webapp/src/assets/svg/preview/unscale.svg
  streampark-console/streampark-console-webapp/src/components/Application/src/AppLogo.vue
  streampark-console/streampark-console-webapp/src/utils/props.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
Labels: WEB UI

#2144 [Improve] maven release plugin Improvement
  .idea/icon.png
  pom.xml
Labels: BUILD

#2145 [Improve]: project Git repository input group
  streampark-console/streampark-console-webapp/src/assets/images/logo-text.png
  streampark-console/streampark-console-webapp/src/components/Application/src/AppLogo.vue
  streampark-console/streampark-console-webapp/src/design/ant/input.less
  streampark-console/streampark-console-webapp/src/design/var/index.less
  streampark-console/streampark-console-webapp/src/layouts/default/menu/index.vue
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/components/RepositoryGroup.tsx
  streampark-console/streampark-console-webapp/src/views/flink/project/useProject.tsx
  streampark-console/streampark-console-webapp/stylelint.config.js
Labels: WEB UI

#2146 [Improve] ui enum Improvement
  streampark-console/streampark-console-webapp/src/design/var/index.less
  streampark-console/streampark-console-webapp/src/enums/projectEnum.ts
  streampark-console/streampark-console-webapp/src/layouts/default/menu/index.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/useProject.tsx
Labels: WEB UI

#2148 [Improve] config file type improvement
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ConfigFileType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationConfigServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/entity/GitTest.java
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
Labels: BUILD, WEB UI, BACKEND

#2149 [Fix]: fix eslint error
  streampark-console/streampark-console-webapp/.eslintrc.js
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/components/Form/src/BasicForm.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/components/ApiSelect.vue
  streampark-console/streampark-console-webapp/src/components/Tree/src/TreeIcon.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/UserTeam.vue
  streampark-console/streampark-console-webapp/src/utils/props.ts
Labels: WEB UI

#2150 [Improve] i18n improve
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkSchema.ts
Labels: WEB UI, BACKEND

#2152 [Bug] java.env.opt param parse error bug fixed
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/FlinkSubmitter.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/trait/FlinkSubmitTrait.scala
Labels: FLINK

#2151 [Bug] generate pom with correctly parsed version
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker_push.yml
  .github/workflows/maven.yml
  build.sh
  pom.xml
  streampark-common/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/assembly/assembly.xml
  streampark-flink/streampark-flink-connector/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-influx/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-kafka/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/pom.xml
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/pom.xml
  streampark-plugin/streampark-jvm-profiler/pom.xml
Labels: BUILD, INFRA, BACKEND, FLINK

#2154 [polish] fix resource leak; avoid NullPointException ; fix Long equals to int statement ;
  streampark-common/src/main/scala/org/apache/streampark/common/conf/InternalConfigHolder.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/interceptor/FileHeaderCheckInterceptor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/FileUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Note.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ResourceFrom.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/VariableServiceTest.java
  streampark-plugin/streampark-jvm-profiler/src/main/java/org/apache/streampark/plugin/profiling/profiler/CpuAndMemoryProfiler.java
Labels: BACKEND

#2156 version change to snapshot
  pom.xml
  streampark-common/pom.xml
  streampark-console/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-connector/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-influx/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-kafka/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/pom.xml
  streampark-flink/streampark-flink-core/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-proxy/pom.xml
  streampark-flink/streampark-flink-repl/pom.xml
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/pom.xml
  streampark-flink/streampark-flink-sqlclient/pom.xml
  streampark-flink/streampark-flink-submit/pom.xml
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/pom.xml
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/pom.xml
  streampark-flink/streampark-flink-udf/pom.xml
  streampark-plugin/pom.xml
  streampark-plugin/streampark-jvm-profiler/pom.xml
  streampark-spark/pom.xml
  streampark-spark/streampark-spark-cli/pom.xml
  streampark-spark/streampark-spark-connector/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-base/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-kafka/pom.xml
  streampark-spark/streampark-spark-core/pom.xml
  streampark-storage/pom.xml
Labels: BUILD, BACKEND, FLINK, KUBERNETES, SPARK

#2157 [Fix]: create project form item error
  streampark-console/streampark-console-webapp/src/views/flink/project/useProject.tsx
Labels: WEB UI

#2158 [Improve] apache-release  maven profile improvement
  .github/labeler.yml
  .github/workflows/docker_push.yml
  .github/workflows/maven.yml
  build.sh
  pom.xml
  streampark-flink/pom.xml
Labels: BUILD, INFRA, FLINK

#2162 [Feature] release 2.0.0
  pom.xml
  streampark-common/pom.xml
  streampark-console/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-connector/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-influx/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-kafka/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/pom.xml
  streampark-flink/streampark-flink-core/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-proxy/pom.xml
  streampark-flink/streampark-flink-repl/pom.xml
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/pom.xml
  streampark-flink/streampark-flink-sqlclient/pom.xml
  streampark-flink/streampark-flink-submit/pom.xml
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/pom.xml
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/pom.xml
  streampark-flink/streampark-flink-udf/pom.xml
  streampark-plugin/pom.xml
  streampark-plugin/streampark-jvm-profiler/pom.xml
  streampark-spark/pom.xml
  streampark-spark/streampark-spark-cli/pom.xml
  streampark-spark/streampark-spark-connector/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-base/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-kafka/pom.xml
  streampark-spark/streampark-spark-core/pom.xml
  streampark-storage/pom.xml
Labels: BUILD, BACKEND, FLINK, KUBERNETES, SPARK

#2163 [Improve] assembly plugin improvement
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/assembly/assembly.xml
Labels: BUILD, BACKEND

#2165 [Bug] get param from application config bug fixed.
  deploy/docker/console/Dockerfile
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationConfig.java
Labels: DOCKER, BACKEND

#2169 [Bug] sqlclient shade-plugin bug fixed
  streampark-flink/streampark-flink-sqlclient/pom.xml
Labels: BUILD, FLINK

#2174 [Feature] Limit concurrency for ci.
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker_push.yml
  .github/workflows/maven.yml
Labels: INFRA

#2175 [Improve] webui async function improve
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppConf.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/components/HadoopConfDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditStreamPark.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/useProject.tsx
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableDrawer.vue
Labels: WEB UI, BACKEND

#2176 [Fix]:flink cluster select error when change execmode
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
Labels: WEB UI

#2178 [Bug] maven assembly plugin param bug fixed
  .github/workflows/docker_push.yml
  .gitignore
  pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/README.md
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/aix-perf.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/difffolded.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/files.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/flamegraph.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/jmaps
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/pkgsplit-perf.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/range-perf.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/record-test.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-aix.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-bpftrace.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-elfutils.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-gdb.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-go.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-instruments.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-java-exceptions.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-jstack.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-ljp.awk
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-perf-sched.awk
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-perf.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-pmc.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-recursive.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-sample.awk
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-stap.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-vsprof.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-vtune.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse-xdebug.php
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse.pl
  streampark-console/streampark-console-service/src/main/assembly/bin/flame-graph/stackcollapse.py
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw.cmd
  streampark-console/streampark-console-service/src/main/assembly/bin/setclasspath.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/shutdown.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/startup.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/assembly/client/.gitkeep
  streampark-console/streampark-console-service/src/main/assembly/conf/.gitkeep
  streampark-console/streampark-console-service/src/main/assembly/logs/.gitkeep
  streampark-console/streampark-console-service/src/main/assembly/plugins/Dockerfile
  streampark-console/streampark-console-service/src/main/assembly/script/README.md
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/1.2.3.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.0.0.sql
  streampark-console/streampark-console-service/src/main/assembly/temp/.gitkeep
  streampark-dist/pom.xml
Labels: BUILD, INFRA, DOCS, BACKEND, WINDOWS

#2181 [Fix]: lose the strategy variable when update app
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppConf.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditStreamPark.ts
Labels: WEB UI

#2183 [Improve] add DISCLAIMER File
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
Labels: BUILD, BACKEND

#2185 [bug] Fixed the regular expression bug of flink on k8s cluster-id Validation
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
Labels: WEB UI

#2182 [Improve]Streampark support remote docker daemon.
  streampark-common/src/main/scala/org/apache/streampark/common/conf/CommonConfig.scala
  streampark-console/streampark-console-service/src/main/resources/application.yml
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/docker/DockerRetriever.scala
Labels: BACKEND, FLINK

#2189 [Fix]: Fixed the project selection box disappears
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
Labels: WEB UI

#2197 [Improve] licenses Improvement
  .licenserc.yaml
  dist-material/release-docs/LICENSE
  dist-material/release-docs/licenses/front-end/LICENSE
  dist-material/release-docs/licenses/license-com.aliyun-aliyun-java-sdk-core.txt
  dist-material/release-docs/licenses/license-com.aliyun-aliyun-java-sdk-kms.txt
  dist-material/release-docs/licenses/license-com.aliyun-aliyun-java-sdk-ram.txt
  dist-material/release-docs/licenses/license-com.aliyun.oss-aliyun-sdk-oss.txt
  dist-material/release-docs/licenses/license-com.carrotsearch-hppc.txt
  dist-material/release-docs/licenses/license-com.fasterxml.jackson.dataformat-jackson-dataformat-yaml.txt
  dist-material/release-docs/licenses/license-com.fasterxml.jackson.datatype-jackson-datatype-jsr310.txt
  dist-material/release-docs/licenses/license-com.github.docker-java-docker-java-api.txt
  dist-material/release-docs/licenses/license-com.github.docker-java-docker-java-core.txt
  dist-material/release-docs/licenses/license-com.github.docker-java-docker-java-transport-httpclient5.txt
  dist-material/release-docs/licenses/license-com.github.docker-java-docker-java-transport.txt
  dist-material/release-docs/licenses/license-com.github.xiaoymin-knife4j-annotations.txt
  dist-material/release-docs/licenses/license-com.github.xiaoymin-knife4j-core.txt
  dist-material/release-docs/licenses/license-com.github.xiaoymin-knife4j-spring-boot-autoconfigure.txt
  dist-material/release-docs/licenses/license-com.github.xiaoymin-knife4j-spring-ui.txt
  dist-material/release-docs/licenses/license-com.github.xiaoymin-knife4j-spring.txt
  dist-material/release-docs/licenses/license-com.google.code.gson-gson.txt
  dist-material/release-docs/licenses/license-com.google.guava-listenablefuture.txt
  dist-material/release-docs/licenses/license-com.squareup.moshi-moshi.txt
  dist-material/release-docs/licenses/license-com.squareup.okhttp-okhttp.txt
  dist-material/release-docs/licenses/license-com.squareup.okhttp3-logging-interceptor.txt
  dist-material/release-docs/licenses/license-com.squareup.okhttp3-okhttp.txt
  dist-material/release-docs/licenses/license-com.squareup.okio-okio.txt
  dist-material/release-docs/licenses/license-com.squareup.retrofit2-converter-moshi.txt
  dist-material/release-docs/licenses/license-com.squareup.retrofit2-retrofit.txt
  dist-material/release-docs/licenses/license-com.sun.jersey.contribs-jersey-guice.txt
  dist-material/release-docs/licenses/license-com.thoughtworks.paranamer-paranamer.txt
  dist-material/release-docs/licenses/license-com.yammer.metrics-metrics-core.txt
  dist-material/release-docs/licenses/license-io.swagger-swagger-annotations.txt
  dist-material/release-docs/licenses/license-io.swagger-swagger-models.txt
  dist-material/release-docs/licenses/license-io.swagger.core.v3-swagger-annotations.txt
  dist-material/release-docs/licenses/license-io.swagger.core.v3-swagger-models.txt
  dist-material/release-docs/licenses/license-javax.servlet-servlet-api.txt
  dist-material/release-docs/licenses/license-javax.servlet.jsp-jsp-api.txt
  dist-material/release-docs/licenses/license-net.bytebuddy-byte-buddy.txt
  dist-material/release-docs/licenses/license-org.apache.httpcomponents-httpcore.txt
  dist-material/release-docs/licenses/license-org.codehaus.plexus-plexus-component-annotations.txt
  dist-material/release-docs/licenses/license-org.codehaus.plexus-plexus-interpolation.txt
  dist-material/release-docs/licenses/license-org.eclipse.jgit-org.eclipse.jgit.ssh.jsch.txt
  dist-material/release-docs/licenses/license-org.eclipse.jgit-org.eclipse.jgit.txt
  dist-material/release-docs/licenses/license-org.jacoco-org.jacoco.agent.txt
  dist-material/release-docs/licenses/license-org.slf4j-slf4j-api.txt
  dist-material/release-docs/licenses/license-org.sonatype.plexus-plexus-cipher.txt
  dist-material/release-docs/licenses/license-org.sonatype.plexus-plexus-sec-dispatcher.txt
Labels: INFRA

#2202 [Improve] dependency cleanup and licenses Improvement
  dist-material/release-docs/LICENSE
  dist-material/release-docs/NOTICE
  dist-material/release-docs/licenses/front-end/LICENSE
  dist-material/release-docs/licenses/license-org.jdom-jdom2.txt
  dist-material/release-docs/licenses/license-org.jetbrains-annotations.txt
  dist-material/release-docs/licenses/license-org.jetbrains.kotlin-kotlin-stdlib-common.txt
  dist-material/release-docs/licenses/license-org.jetbrains.kotlin-kotlin-stdlib-jdk7.txt
  dist-material/release-docs/licenses/license-org.jetbrains.kotlin-kotlin-stdlib-jdk8.txt
  dist-material/release-docs/licenses/license-org.jetbrains.kotlin-kotlin-stdlib.txt
  streampark-storage/pom.xml
Labels: BUILD

#2208 [Improve] Add some config to flink-application.conf
  streampark-console/streampark-console-service/src/main/resources/flink-application.conf
Labels: BACKEND

#2207 [Feature] jvm options parameter support
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/trait/FlinkSubmitTrait.scala
Labels: FLINK

#2212 [Bug] Incorrect variable permissions for developer role and Team admin role
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.0.0.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, BACKEND

#2217 [Improve] checkstyle plugin Improvement
  .github/workflows/maven.yml
  pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkSqlServiceImpl.java
  tools/checkstyle/checkstyle.xml
  tools/checkstyle/suppressions.xml
Labels: BUILD, INFRA, BACKEND
