Repository apache/streampark, pull requests merged in 2022-11, with the labels that each got.

#1936 [Polish] Polish .gitignore and add streampark icon to idea.
  .gitignore
  .idea/icon.png
Labels: INFRA

#1937 [improve] get flink jobState from historyArchivefile improvement
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/archives/FetchArchives.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/archives/Jobs.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/archives/Overview.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: FLINK, KUBERNETES

#1940 [Bug] Added SUSPENDED button and removed FINISHED redundant configura…
  streampark-console/streampark-console-webapp/src/views/flink/app/State.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
Labels: WEB UI

#1945 [Feature] Add codestyle check
  .github/workflows/maven.yml
Labels: INFRA

#1946 [Fix] Resolve ingress setup issues, project build issues, role bug
  streampark-console/streampark-console-newui/src/components/Form/src/components/ApiSelect.vue
  streampark-console/streampark-console-newui/src/components/Tree/src/components/TreeHeader.vue
  streampark-console/streampark-console-newui/src/hooks/web/useMonaco.ts
  streampark-console/streampark-console-newui/src/layouts/default/header/components/Slogan.vue
  streampark-console/streampark-console-newui/src/layouts/default/header/components/UserTeam.vue
  streampark-console/streampark-console-newui/src/locales/lang/en/system/team.ts
  streampark-console/streampark-console-newui/src/router/guard/index.ts
  streampark-console/streampark-console-newui/src/settings/projectSetting.ts
  streampark-console/streampark-console-newui/src/store/modules/user.ts
  streampark-console/streampark-console-newui/src/utils/http/axios/errorHandle.ts
  streampark-console/streampark-console-newui/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-newui/src/views/base/login/useTeamModal.tsx
  streampark-console/streampark-console-newui/src/views/flink/app/View.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/AppView/LogModal.vue
  streampark-console/streampark-console-newui/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useLog.ts
  streampark-console/streampark-console-newui/src/views/flink/project/components/ListItem.vue
  streampark-console/streampark-console-newui/src/views/flink/project/components/LogModal.vue
  streampark-console/streampark-console-newui/src/views/flink/setting/components/SettingList.vue
  streampark-console/streampark-console-newui/src/views/flink/setting/components/SystemSetting.vue
  streampark-console/streampark-console-newui/src/views/system/role/components/RoleDrawer.vue
  streampark-console/streampark-console-newui/src/views/system/team/TeamDrawer.vue
Labels: WEB UI

#1943 [Improve] Unified Mapper
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/RoleController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/mapper/MenuMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/RoleMenuServie.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleMenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MemberMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/RoleMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/TeamMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BACKEND

#1948 [Improve] Improve the effect of the login page，fix add user select bug
  streampark-console/streampark-console-newui/index.html
  streampark-console/streampark-console-newui/public/resource/css/fonts.css
  streampark-console/streampark-console-newui/public/resource/fonts/devanagari-1.woff2
  streampark-console/streampark-console-newui/public/resource/fonts/devanagari-2.woff2
  streampark-console/streampark-console-newui/public/resource/fonts/devanagari-3.woff2
  streampark-console/streampark-console-newui/public/resource/fonts/latin-1.woff2
  streampark-console/streampark-console-newui/public/resource/fonts/latin-2.woff2
  streampark-console/streampark-console-newui/public/resource/fonts/latin-3.woff2
  streampark-console/streampark-console-newui/public/resource/fonts/latin-ext-1.woff2
  streampark-console/streampark-console-newui/public/resource/fonts/latin-ext-2.woff2
  streampark-console/streampark-console-newui/public/resource/fonts/latin-ext-3.woff2
  streampark-console/streampark-console-newui/src/assets/icons/block.svg
  streampark-console/streampark-console-newui/src/assets/icons/dynamic-avatar-1.svg
  streampark-console/streampark-console-newui/src/assets/icons/dynamic-avatar-2.svg
  streampark-console/streampark-console-newui/src/assets/icons/dynamic-avatar-3.svg
  streampark-console/streampark-console-newui/src/assets/icons/dynamic-avatar-4.svg
  streampark-console/streampark-console-newui/src/assets/icons/dynamic-avatar-5.svg
  streampark-console/streampark-console-newui/src/assets/icons/dynamic-avatar-6.svg
  streampark-console/streampark-console-newui/src/views/base/login/ForgetPasswordForm.vue
  streampark-console/streampark-console-newui/src/views/base/login/Login.vue
  streampark-console/streampark-console-newui/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-newui/src/views/base/login/LoginFormTitle.vue
  streampark-console/streampark-console-newui/src/views/base/login/LoginSlogan.less
  streampark-console/streampark-console-newui/src/views/base/login/LoginSlogan.tsx
  streampark-console/streampark-console-newui/src/views/base/login/MobileForm.vue
  streampark-console/streampark-console-newui/src/views/base/login/RegisterForm.vue
  streampark-console/streampark-console-newui/src/views/flink/app/Add.vue
  streampark-console/streampark-console-newui/src/views/flink/app/View.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/State.tsx
  streampark-console/streampark-console-newui/src/views/flink/app/components/flinkSql.vue
  streampark-console/streampark-console-newui/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-newui/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-newui/src/views/flink/project/useProject.ts
  streampark-console/streampark-console-webapp/src/views/system/user/UserAdd.vue
Labels: WEB UI

#1950 [Improve] login page style Improvement
  streampark-console/streampark-console-newui/src/views/base/login/Login.vue
  streampark-console/streampark-console-newui/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-newui/src/views/base/login/LoginSlogan.less
  streampark-console/streampark-console-newui/src/views/base/login/LoginSlogan.tsx
Labels: WEB UI

#1938 [Feature] Support Flink 1.16 submit
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/test/java/java/util/regex/RegexTest.java
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/BuildRequest.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkSqlValidator.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/src/main/scala/org/apache/streampark/flink/core/FlinkClusterClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/src/main/scala/org/apache/streampark/flink/core/StreamTableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/src/main/scala/org/apache/streampark/flink/core/TableExt.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/YarnApplicationSubmit.scala
Labels: BUILD, BACKEND, FLINK

#1957 [Fix] handle history version error,improve login footer style
  streampark-console/streampark-console-newui/src/assets/svg/apache-incubator.svg
  streampark-console/streampark-console-newui/src/enums/flinkEnum.ts
  streampark-console/streampark-console-newui/src/layouts/default/footer/index.vue
  streampark-console/streampark-console-newui/src/locales/lang/en/layout.ts
  streampark-console/streampark-console-newui/src/locales/lang/zh-CN/layout.ts
  streampark-console/streampark-console-newui/src/settings/siteSetting.ts
  streampark-console/streampark-console-newui/src/views/base/login/Login.vue
  streampark-console/streampark-console-newui/src/views/base/login/LoginSlogan.tsx
  streampark-console/streampark-console-newui/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/AppDetail/Different.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-newui/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useEditStreamPark.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-newui/src/views/flink/setting/components/AlertSetting.vue
Labels: WEB UI

#1961 [Improve] k8s mode job remapping Improvement
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: WEB UI, BACKEND

#1962 [bug] flinkjob restore from savepoint bug fixed
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/trait/FlinkSubmitTrait.scala
Labels: FLINK

#1964 [Fix]: project icon,drawer cannot be closed,program args,project update
  streampark-console/streampark-console-newui/src/components/Modal/src/components/ModalWrapper.vue
  streampark-console/streampark-console-newui/src/components/Modal/src/index.less
  streampark-console/streampark-console-newui/src/enums/flinkEnum.ts
  streampark-console/streampark-console-newui/src/hooks/web/useMonaco.ts
  streampark-console/streampark-console-newui/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-newui/src/views/base/login/Login.vue
  streampark-console/streampark-console-newui/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-newui/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-newui/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-newui/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/AppView/LogModal.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/HadoopConfDrawer.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/Mergely.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/PodTemplate/HistoryDrawer.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/PodTemplate/HostAliasDrawer.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/PodTemplate/PomTemplateTab.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/PodTemplate/TemplateButtonGroup.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/ProgramArgs.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/UseSysHadoopConf.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/flinkSql.vue
  streampark-console/streampark-console-newui/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useEditFlinkSchema.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useEditStreamPark.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useFlinkSchema.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useLog.ts
  streampark-console/streampark-console-newui/src/views/flink/app/styles/Add.less
  streampark-console/streampark-console-newui/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-newui/src/views/flink/project/components/ListItem.vue
  streampark-console/streampark-console-newui/src/views/flink/project/components/LogModal.vue
  streampark-console/streampark-console-newui/src/views/flink/project/useProject.ts
  streampark-console/streampark-console-newui/src/views/flink/setting/components/FlinkClusterSetting.vue
  streampark-console/streampark-console-newui/src/views/flink/setting/hooks/useClusterSetting.ts
Labels: WEB UI

#1963 [Bug] init config filter null value
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: FLINK

#1960 [Feature] Add sensitivity option when creating variable
  streampark-console/streampark-console-newui/src/views/system/variable/components/VariableDrawer.vue
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/VariableController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Variable.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
Labels: BUILD, WEB UI, BACKEND

#1966 [Feature] Add read-only permissions for each module
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, BACKEND

#1967 [Feature]: Add data desensitization of variables, fix the error probl…
  streampark-console/streampark-console-newui/src/api/system/model/variableModel.ts
  streampark-console/streampark-console-newui/src/api/system/variable.ts
  streampark-console/streampark-console-newui/src/components/Description/src/typing.ts
  streampark-console/streampark-console-newui/src/views/flink/app/Add.vue
  streampark-console/streampark-console-newui/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/AppView/AppDashboard.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/AppView/LogModal.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/PodTemplate/TemplateButtonGroup.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/flinkSql.vue
  streampark-console/streampark-console-newui/src/views/flink/app/styles/Add.less
  streampark-console/streampark-console-newui/src/views/flink/project/components/LogModal.vue
  streampark-console/streampark-console-newui/src/views/system/role/components/RoleDrawer.vue
  streampark-console/streampark-console-newui/src/views/system/variable/components/VariableDrawer.vue
  streampark-console/streampark-console-newui/src/views/system/variable/components/VariableInfo.vue
Labels: WEB UI

#1968 [feature] HOCON conf file support
  pom.xml
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/SubmitRequest.scala
Labels: BUILD, BACKEND, FLINK

#1971 [Bug] Depend Apps button permission control failed
  streampark-console/streampark-console-newui/src/views/system/variable/View.vue
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, WEB UI, BACKEND

#1972 [bug] system menu display bug fixed
  .idea/icon.png
  script/update_version.py
  streampark-console/streampark-console-newui/src/views/system/variable/View.vue
  streampark-console/streampark-console-newui/src/views/system/variable/components/VariableInfo.vue
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/router/RouterTree.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/VueRouterUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/VariableController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/mapper/MenuMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MenuService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MenuMapper.xml
Labels: BUILD, WEB UI, BACKEND

#1974 [Improve]: add npm registry and change router menu logic
  streampark-console/streampark-console-newui/.gitignore
  streampark-console/streampark-console-newui/.npmrc
  streampark-console/streampark-console-newui/src/router/helper/routeHelper.ts
  streampark-console/streampark-console-newui/src/store/modules/permission.ts
  streampark-console/streampark-console-newui/src/views/flink/app/components/AppView/StatisticCard.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/CustomForm.tsx
  streampark-console/streampark-console-newui/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/FlinkSql.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/FlinkSqlHistory.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/PodTemplate/TemplateButtonGroup.vue
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-newui/src/views/flink/app/styles/Add.less
  streampark-console/streampark-console-newui/src/views/flink/setting/components/FlinkClusterSetting.vue
  streampark-console/streampark-console-newui/src/views/system/menu/Menu.vue
  streampark-console/streampark-console-newui/src/views/system/menu/MenuDrawer.vue
  streampark-console/streampark-console-newui/src/views/system/menu/menu.data.ts
Labels: WEB UI

#1976 [bug] flinkjob program arguments bug fixed
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/trait/FlinkSubmitTrait.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/test/scala/org/apache/streampark/flink/submit/test/ParameterTestCase.scala
Labels: FLINK

#1977 [Fix] Deleting Duplicate Files and Fix async component loader
  streampark-console/streampark-console-newui/src/views/flink/app/Add.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/AppView/statisticCard.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/customForm.tsx
  streampark-console/streampark-console-newui/src/views/flink/app/components/flinkSql.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/flinkSqlHistory.vue
Labels: WEB UI

#1980 [Fix] updating podTemplate bug and change start log api params
  streampark-console/streampark-console-newui/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-newui/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/AppView/LogModal.vue
  streampark-console/streampark-console-newui/src/views/flink/app/components/PodTemplate/PomTemplateTab.vue
Labels: WEB UI

#1979 [bug] milliseconds to duration bug fixed
  streampark-common/src/main/scala/org/apache/streampark/common/util/DateUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/AlertController.java
  streampark-console/streampark-console-service/src/test/java/org/apache/commons/mail/SendEmailTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/alert/AlertServiceTest.java
Labels: BACKEND

#1982 [Improve] Log archive retention for failed tasks
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: FLINK, KUBERNETES

#1984 [cherry-pick] LDAP login bug fixed
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/ldap/LdapService.java
Labels: BUILD, BACKEND

#1986 [bug]batch job end ingress is not deleted
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/K8sFlinkChangeEventListener.java
Labels: BACKEND

#1988 [Fix] wrong action type in k8s submit action log
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/KubernetesNativeApplicationSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/KubernetesNativeSessionSubmit.scala
Labels: FLINK

#1987 [Fix] Modify role menu initialization sql,Role menu verification
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-newui/src/views/system/role/components/RoleDrawer.vue
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, WEB UI, BACKEND

#1990 [Improve] Add i18n support for system token menu.
  streampark-console/streampark-console-newui/src/locales/lang/en/system/token.ts
  streampark-console/streampark-console-newui/src/locales/lang/zh-CN/system/token.ts
  streampark-console/streampark-console-newui/src/views/system/token/Token.vue
  streampark-console/streampark-console-newui/src/views/system/token/components/TokenDrawer.vue
  streampark-console/streampark-console-newui/src/views/system/token/token.data.ts
Labels: WEB UI

#1993 [Bug] Flink cluster cannot modify the flink version #1992
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
Labels: BACKEND

#1991 [Bug] Failed to mark the latest savepoint and checkpoint #1989
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkTrackingTask.java
Labels: BACKEND

#1997 [Bug] Copy application function defect
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

#1951 [Improve] Unified Mapper
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationConfigMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationLogMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/EffectiveMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/FlameGraphMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/FlinkClusterMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/FlinkEnvMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/FlinkSqlMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ProjectMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/SavePointMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/SettingMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/TutorialMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/VariableMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationBackUpServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationConfigServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationLogServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/EffectiveServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlameGraphServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkSqlServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/LoggerServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/MessageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/TutorialServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ProjectBuildTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleMenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/AlertConfigMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationConfigMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkEnvMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkSqlMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
Labels: BACKEND

#1953 [Feature] Add probes for liveness check.
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SwaggerConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroConfig.java
  streampark-console/streampark-console-service/src/main/resources/application.yml
Labels: BUILD, BACKEND

#2001 Add i18n support for flink app menu
  streampark-console/streampark-console-newui/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-newui/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-newui/src/views/flink/app/components/AppView/AppDashboard.vue
  streampark-console/streampark-console-newui/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useEditStreamPark.ts
Labels: WEB UI

#2002 [Improve] sql Improvement
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationConfigMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/FlinkClusterMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ProjectMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/VariableMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ProjectService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/VariableService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationConfigServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ProjectBuildTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/application.yml
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/AlertConfigMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationConfigMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkSqlMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
Labels: BUILD, BACKEND

#2004 [bug] front-end build bug fixed
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-webapp/.env
  streampark-spark/pom.xml
  streampark-spark/streampark-spark-test/README.md
  streampark-spark/streampark-spark-test/assembly.xml
  streampark-spark/streampark-spark-test/assembly/conf/prod/test.properties
  streampark-spark/streampark-spark-test/assembly/conf/prod/test.yml
  streampark-spark/streampark-spark-test/pom.xml
  streampark-spark/streampark-spark-test/src/main/resources/logback.xml
  streampark-spark/streampark-spark-test/src/main/scala/org/apache/streampark/spark/test/HelloStreamParkApp.scala
Labels: BUILD, DOCS, BACKEND, SPARK

#2005 [Fix] username len and fix role error
  .github/workflows/frontend.yml
  streampark-console/streampark-console-webapp/.gitignore
  streampark-console/streampark-console-webapp/.npmrc
  streampark-console/streampark-console-webapp/README.zh-CN.md
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/user.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/user.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Detail.less
  streampark-console/streampark-console-webapp/src/views/flink/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
  streampark-console/streampark-console-webapp/src/views/system/variable/View.vue
Labels: INFRA, WEB UI

#2006 [Improve]Add i18n support for flink app menu (add/edit).
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
Labels: WEB UI

#2007 [bug] i18n bug fixed
  streampark-console/streampark-console-service/src/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
  streampark-console/streampark-console-webapp/src/api/flink/app/app.type.ts
  streampark-console/streampark-console-webapp/src/api/flink/setting/types/flinkCluster.type.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/routes/demo.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/role.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/routes/demo.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/role.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditStreamPark.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/setting/EditCluster.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/hooks/useClusterSetting.ts
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleDrawer.vue
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/FlinkSubmitter.scala
Labels: BUILD, WEB UI, BACKEND, FLINK

#2010 [improve] Table maximized, modifying table style
  streampark-console/streampark-console-webapp/build/generate/generateModifyVars.ts
  streampark-console/streampark-console-webapp/src/components/Page/src/PageWrapper.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/settings/FullScreenSetting.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useTableContext.ts
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/FlinkSql.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Add.less
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/View.less
Labels: WEB UI

#2012 [bug] front-end per-commit bug fixed
  .github/workflows/frontend.yml
  .husky/_/husky.sh
  .husky/pre-commit
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
Labels: BUILD, INFRA, WEB UI

#2009 [Bug] Clear the teamId when delete the member
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/mapper/UserMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MemberService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BACKEND

#2013 [improve] variable page improvement
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/api/flink/variable/index.ts
  streampark-console/streampark-console-webapp/src/api/flink/variable/model/variableModel.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/variable.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/variable.ts
  streampark-console/streampark-console-webapp/src/router/constant.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/FlinkSql.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/ProgramArgs.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Add.less
  streampark-console/streampark-console-webapp/src/views/flink/variable/DependApps.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableInfo.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/variable.data.ts
Labels: BUILD, WEB UI, BACKEND

#2016 [Fix] fix variable drawer bug,fix dark theme style bug
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-webapp/build/generate/generateModifyVars.ts
  streampark-console/streampark-console-webapp/src/api/flink/variable/index.ts
  streampark-console/streampark-console-webapp/src/api/system/upload.ts
  streampark-console/streampark-console-webapp/src/components/Form/src/BasicForm.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/settings/FullScreenSetting.vue
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useI18n.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/user-dropdown/PasswordModal.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/user-dropdown/index.vue
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/variable.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/routes/dashboard.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/sys.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/variable.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/routes/dashboard.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/sys.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/menu.ts
  streampark-console/streampark-console-webapp/src/settings/projectSetting.ts
  streampark-console/streampark-console-webapp/src/utils/http/axios/errorHandle.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/ProgramArgs.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/components/VariableReview.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/View.less
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/components/LogModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/project.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/FlinkEnvModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/variable.data.ts
  streampark-console/streampark-console-webapp/src/views/system/menu/menu.data.ts
Labels: BUILD, WEB UI, BACKEND

#2018 [improve] style improvement
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/View.less
Labels: WEB UI

#2019 [Bug] dynamicProperties env.java.opts not support bug fixed
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/FlinkSubmitter.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/test/scala/org/apache/streampark/flink/submit/test/ParameterTestCase.scala
Labels: FLINK

#2021 [Bug] app buildPipe state bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/AppBuildPipeline.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
Labels: BACKEND

#2022 [improve] fix login input auto fill bug
  deploy/helm/streamx/conf/streamx-console-config/application.yml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroConfig.java
  streampark-console/streampark-console-webapp/src/components/Form/src/props.ts
  streampark-console/streampark-console-webapp/src/components/Upload/src/props.ts
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/layouts/default/setting/components/ThemeColorPicker.vue
  streampark-console/streampark-console-webapp/src/layouts/default/setting/components/TypePicker.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppConf.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/CompareModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/BuildDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useDetail.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditFlinkSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditStreamPark.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/AlertSetting.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/FlinkClusterSetting.vue
Labels: WEB UI, DOCKER, BACKEND

#2023 [Bug] front-end enum bug fixed
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/mybatis/pager/MybatisPager.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/WebUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AlertType.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/enums/AlertTypeTest.java
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppConf.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditStreamPark.ts
Labels: BUILD, WEB UI, BACKEND

#2024 [improve] npm install ignore-scripts improvement
  streampark-console/streampark-console-service/pom.xml
Labels: BUILD, BACKEND

#2026 [Bug] project list modules bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
Labels: BACKEND

#2032 [Bug] Rename the teamId of user table to lastTeamId
  streampark-console/streampark-console-service/src/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/2.0.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/User.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
  streampark-console/streampark-console-webapp/src/api/system/model/userModel.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
Labels: BUILD, WEB UI, BACKEND

#2028 [Improve]add i18n for app detail view page.
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
Labels: WEB UI

#2035 [Fix] application conf bug
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
Labels: WEB UI

#2036 [Improve] menu i18n support
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/2.0.0.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/design/swal2.less
  streampark-console/streampark-console-webapp/src/locales/lang/en/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/menu.ts
Labels: BUILD, WEB UI, BACKEND

#2037 [improve] add menu i18n and fix team dropdown
  streampark-console/streampark-console-webapp/src/api/base/system.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/UserTeam.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/index.vue
  streampark-console/streampark-console-webapp/src/locales/lang/en/layout.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/team.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/layout.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/team.ts
  streampark-console/streampark-console-webapp/src/router/helper/menuHelper.ts
  streampark-console/streampark-console-webapp/src/store/modules/permission.ts
  streampark-console/streampark-console-webapp/src/utils/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-webapp/src/views/system/menu/Menu.vue
Labels: WEB UI

#2047 [Bug] Clear the lastTeamId when deleting the team
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/mapper/UserMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BACKEND

#2046 [Bug] alarm test bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AlertType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertServiceImpl.java
Labels: BACKEND

#2050 [Bug] An error is reported when the mysql upgrade sql statement is ex…
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/2.0.0.sql
Labels: BUILD, BACKEND

#2058 [Bug] After building the project, the build time is not updated
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ProjectMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ProjectBuildTask.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
Labels: BACKEND

#2057 [improve] on k8s mode kubernetes.container.image.pull-policy improvement
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/CancelRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/RemoteSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/YarnSessionSubmit.scala
Labels: BACKEND, FLINK

#2060 [bug] fix 'Error Code: 1064. You have an error in your SQL syntax'
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, BACKEND

#2064 [bug] Fix the problem that cannot be cancel after mapping
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

#2065 [Fix] Alert setting api error
  streampark-console/streampark-console-webapp/src/api/flink/setting/alert.ts
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/SettingList.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/SystemSetting.vue
Labels: WEB UI

#2069 [Fix] add project url target and fix alert style error
  streampark-console/streampark-console-webapp/src/api/flink/setting/alert.ts
  streampark-console/streampark-console-webapp/src/components/Form/src/BasicForm.vue
  streampark-console/streampark-console-webapp/src/design/swal2.less
  streampark-console/streampark-console-webapp/src/design/theme.less
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
  streampark-console/streampark-console-webapp/src/views/base/login/LoginSlogan.less
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/View.less
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/AlertSetting.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/FlinkEnvSetting.vue
Labels: WEB UI

#2070 [bug] Fix yarn per-job and yarn application cancellation failure due …
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

#2063 [improve] job submit parameter improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/CancelRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/CancelResponse.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/DeployRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/DeployResponse.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/ShutDownRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/SubmitResponse.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/KubernetesNativeSessionSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/RemoteSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/YarnSessionSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/trait/FlinkSubmitTrait.scala
Labels: BACKEND, FLINK

#2073 [Bug] When upgrading from 1.2.3 to 2.0.0, the configuration items of maven setting are incorrect
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/2.0.0.sql
Labels: BUILD, BACKEND

#2079 [Fix] data type check bug
  streampark-console/streampark-console-webapp/src/api/flink/app/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/BuildDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
Labels: WEB UI

#2078 [Bug] When stopping the application, if you want to savepoint and specify a custom savepoint path, the stop will fail
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

#2083 [Bug] The copy function of the application does not copy the args information
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

#2086 [Improve]Add i18n support for flink setting alert tab.
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/setting.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/setting.ts
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/AlertDetailModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/AlertTypeInfo.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/alert.data.ts
Labels: WEB UI

#2085 [Bug] The configured value cannot be cleared in the System Setting mo…
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Setting.java
Labels: BACKEND

#2087 improve: application style
  streampark-console/streampark-console-webapp/build/generate/generateModifyVars.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Add.less
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/View.less
Labels: WEB UI

#2088 [improve] i18n improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/CustomForm.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
Labels: WEB UI

#2089 [Bug] fixed issue 2052
  streampark-console/streampark-console-webapp/src/api/flink/app/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/setting.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/setting.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/CustomForm.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/AlertDetailModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/alert.data.ts
Labels: WEB UI

#2093 [improve] notify message improvement
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-dingTalk.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-email.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-lark.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-weCom.ftl
Labels: BACKEND

#2075 [improve] get appname improvement
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/conf/ParameterCli.scala
Labels: FLINK

#2094 [Bug] flink-job archivefile parse bug fixed
  streampark-common/src/main/scala/org/apache/streampark/common/util/SystemPropertyUtils.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/helper/KubernetesDeploymentHelper.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/test/resources/d933fa6c785f0db6dccc6cc05dd43bab.json
  streampark-flink/streampark-flink-kubernetes/src/test/scala/org/apache/streampark/flink/kubernetes/FlinkRestJsonTest.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
Labels: BACKEND, FLINK, KUBERNETES

#2096 [Improve] Unified swagger api docs description
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SwaggerConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/ApiDocConstant.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/AlertController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
Labels: BACKEND

#2098 [Fix] cluster edit bug ,header show lock
  streampark-console/streampark-console-webapp/src/enums/appEnum.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/LockScreen.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/Slogan.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/index.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/user-dropdown/index.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/index.vue
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/setting.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/setting.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/CustomForm.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/setting/EditCluster.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/FlinkClusterSetting.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/hooks/useClusterSetting.ts
Labels: WEB UI

#2099 [improve] move mybatis plus setting into MybatisConfig
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/MybatisConfig.java
  streampark-console/streampark-console-service/src/main/resources/application.yml
Labels: BACKEND

#2106 Fix the problem that mybatis plus sets jdbcTypeForNull to null
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/MybatisConfig.java
Labels: BACKEND

#2107 [improve]: app start log dynamic line limit
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/LogModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useLog.ts
Labels: WEB UI

#2100 [Bug] flink cluster management bug fixed
  streampark-common/src/main/scala/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopConfigUtils.scala
  streampark-console/streampark-console-service/src/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/2.0.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/AppBuildPipeline.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/FlinkClusterMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
  streampark-console/streampark-console-webapp/src/api/flink/app/app.type.ts
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/setting.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/setting.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/setting/AddCluster.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/EditCluster.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/FlinkClusterSetting.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/hooks/useClusterSetting.ts
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/DeployRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/DeployResponse.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/KubernetesNativeApplicationSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/KubernetesNativeSessionSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/LocalSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/RemoteSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/YarnSessionSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/trait/KubernetesNativeSubmitTrait.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/trait/YarnSubmitTrait.scala
Labels: BUILD, WEB UI, BACKEND, FLINK

#2108 [Bug] cluster id bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

#2112 [Bug] k8s jobstatus bug fixed
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/test/scala/org/apache/streampark/flink/kubernetes/FlinkRestJsonTest.scala
Labels: FLINK, KUBERNETES

#2114 [improve] history upload-jars improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationHistoryController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationHistoryService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationHistoryServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/index.html
Labels: WEB UI, BACKEND
