Repository apache/streampark, pull requests merged in 2022-10, with the labels that each got.

#1812 [Feature] Improve the team related front-end part2 #1807
  streampark-console/streampark-console-webapp/src/components/tools/UserMenu.vue
  streampark-console/streampark-console-webapp/src/store/modules/user.js
  streampark-console/streampark-console-webapp/src/utils/request.js
Labels: WEB UI

#1814 [Infra] Update pull request label
  .github/labeler.yml
  .github/workflows/pull-request-robot.yml
Labels: INFRA

#1820 [bug] After optimizing the core parameter. job submit failed bug fix
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: FLINK

#1808 Update the team related upgrade sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
Labels: BUILD

#1834 [Bug] Fix the bug that latest team isn't changed when team is changed
  streampark-console/streampark-console-webapp/src/utils/request.js
Labels: WEB UI

#1817 [Bug] fix docker deployment
  .github/workflows/docker_push.yml
  deploy/README.md
  deploy/docker/.env
  deploy/docker/README.md
  deploy/docker/compose/Dockerfile
  deploy/docker/console/Dockerfile
  deploy/docker/docker-compose.yaml
  deploy/docker/mysql/.env
  deploy/docker/mysql/Dockerfile
  deploy/docker/pgsql/.env
Labels: INFRA, DOCKER, DOCS

#1828 [Feature] Improve the search_owner when query the app list
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/InternalConfigHolder.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/RedisClient.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/User.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/mapper/UserMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
  streampark-console/streampark-console-webapp/src/api/index.js
  streampark-console/streampark-console-webapp/src/api/user.js
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/src/main/scala/org/apache/streampark/flink/connector/clickhouse/conf/ClickHouseHttpConfig.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/scala/org/apache/streampark/connector/doris/conf/DorisConfig.scala
Labels: WEB UI, BACKEND, FLINK

#1846 [Build] Use multiple java version build check.
  .github/workflows/maven.yml
Labels: INFRA

#1843 [Feature] Add the team_admin role
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, BACKEND

#1831 [Feature] Add basic functionality of variable modules such as create,…
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/VariableController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/Variable.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/mapper/VariableMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/VariableService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/system/VariableMapper.xml
  streampark-console/streampark-console-webapp/src/api/index.js
  streampark-console/streampark-console-webapp/src/api/variable.js
  streampark-console/streampark-console-webapp/src/components/tools/UserMenu.vue
  streampark-console/streampark-console-webapp/src/views/system/variable/Add.vue
  streampark-console/streampark-console-webapp/src/views/system/variable/Detail.vue
  streampark-console/streampark-console-webapp/src/views/system/variable/Edit.vue
  streampark-console/streampark-console-webapp/src/views/system/variable/View.vue
Labels: BUILD, WEB UI, BACKEND

#1850 [Feature] Added variable management menu to team admin role #1849
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, BACKEND

#1854 [Bug] Fix the wrong teamId
  streampark-console/streampark-console-webapp/src/store/modules/user.js
Labels: WEB UI

#1852 [Feature] Restrict the format of variable code in the variable management module #1851
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/VariableController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Variable.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/VariableMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/VariableService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
  streampark-console/streampark-console-webapp/src/views/system/variable/Add.vue
Labels: BUILD, WEB UI, BACKEND

#1836 [Improve]Splitting ldap logic
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/Authenticator.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/SecurityConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/ldap/LdapService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/ldap/LdapUserNotExistActionType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/pwd/PasswordAuthenticator.java
  streampark-console/streampark-console-service/src/main/resources/application.yml
Labels: BACKEND

#1865 Fix the wrong method name
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
Labels: BACKEND

#1864 [bug]Fix the strong stop logic
  deploy/docker/docker-compose.yaml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: DOCKER, BACKEND

#1860 [Feature] Get the correct permissions after switching team
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroRealm.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MenuController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/mapper/MenuMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MenuService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MenuMapper.xml
Labels: BACKEND

#1863 [Feautre] Upgrade swagger to 3.0.0
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SwaggerConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/AlertController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroConfig.java
  streampark-console/streampark-console-service/src/main/resources/application.yml
Labels: BUILD, BACKEND

#1870 [Bug] When the unit test is executed, it reports that the org.junit.jupiter.api.io.CleanupMode class cannot be found #1869
  pom.xml
  streampark-console/streampark-console-service/pom.xml
Labels: BUILD, BACKEND

#1866 [Feature] Reference variables as placeholders in program args and Flink SQL
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/VariableController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Variable.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/FlinkSqlMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkSqlService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/VariableService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkSqlServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkSqlMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/VariableServiceTest.java
  streampark-console/streampark-console-webapp/src/views/system/variable/Add.vue
Labels: WEB UI, BACKEND

#1879 [Bug] fixed 'Kube Conf File' param can not displayed at Flink Cluster…
  streampark-console/streampark-console-newui/src/api/flink/setting/types/flinkCluster.type.ts
  streampark-console/streampark-console-newui/src/views/flink/setting/EditCluster.vue
  streampark-console/streampark-console-newui/src/views/flink/setting/hooks/useClusterSetting.ts
  streampark-console/streampark-console-webapp/src/views/flink/setting/AddCluster.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/EditCluster.vue
Labels: WEB UI

#1877 [bug]Resolve the problem that the flink jobid stored in the trackid i…
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-common/src/main/scala/org/apache/streampark/common/enums/ApplicationType.java
  streampark-common/src/main/scala/org/apache/streampark/common/enums/DevelopmentMode.java
  streampark-common/src/main/scala/org/apache/streampark/common/enums/ExecutionMode.java
  streampark-common/src/main/scala/org/apache/streampark/common/enums/Semantic.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/K8sFlinkTrackMonitorWrapper.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/KubernetesNativeApplicationSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/YarnApplicationSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/trait/FlinkSubmitTrait.scala
Labels: BACKEND, FLINK, KUBERNETES

#1883 [Feature] Remove unnecessary findUserRole
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroRealm.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/mapper/RoleMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/RoleService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/system/RoleMapper.xml
  streampark-console/streampark-console-webapp/src/core/directives/permission.js
  streampark-console/streampark-console-webapp/src/store/getters.js
  streampark-console/streampark-console-webapp/src/store/modules/user.js
  streampark-console/streampark-console-webapp/src/store/mutation-types.js
Labels: WEB UI, BACKEND

#1886 [Improve] Dynamic parameters changed to properties
  streampark-console/streampark-console-newui/src/api/flink/app/app.type.ts
  streampark-console/streampark-console-newui/src/api/flink/setting/types/flinkCluster.type.ts
  streampark-console/streampark-console-newui/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-newui/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useFlinkSchema.ts
  streampark-console/streampark-console-newui/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-newui/src/views/flink/setting/EditCluster.vue
  streampark-console/streampark-console-newui/src/views/flink/setting/hooks/useClusterSetting.ts
  streampark-console/streampark-console-service/src/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/AddCluster.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/EditCluster.vue
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/FlinkSubmitter.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/CancelRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/DeployRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/KubernetesNativeSessionSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/YarnSessionSubmit.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/trait/FlinkSubmitTrait.scala
Labels: BUILD, WEB UI, BACKEND, FLINK

#1890 [Feature] Put the variable menu under StreamPark in pgsql-data.sql an…
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
Labels: BUILD, BACKEND

#1887 [improve]Synchronous execution status determination process
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: FLINK, KUBERNETES

#1881 [Feature] Check apps and projects before delete team
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ProjectService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/VariableService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/TeamController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MemberService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/TeamService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
Labels: BACKEND

#1891 Remove unused field
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
Labels: BACKEND

#1839 [Bug] fixed the ignore restored option bug
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/trait/FlinkSubmitTrait.scala
Labels: FLINK

#1893 [improve] Front-end style improvements
  streampark-console/streampark-console-newui/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-newui/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-newui/src/views/system/member/Member.vue
  streampark-console/streampark-console-newui/src/views/system/role/role.data.ts
  streampark-console/streampark-console-newui/src/views/system/user/user.data.ts
Labels: WEB UI

#1826 [bug] [fix] [streampark-flink-shims-base] Repair multiple dialect set statement have no effect error.
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkSqlExecutor.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkSqlValidator.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/SqlCommandParser.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/YarnPerJobSubmit.scala
Labels: FLINK

#1899 [docker-image] Should push docker image with fixed schedule.
  .github/workflows/docker_push.yml
Labels: INFRA

#1900 [Feature] Trigger push docker image with fixed schedule and push branches and tags.
  .github/workflows/docker_push.yml
Labels: INFRA

#1901 [Feature] App dashboard distinguish teamId
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

#1904 [Fix]fix pull flink base docker image end with space error.
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/impl/FlinkK8sApplicationBuildPipeline.scala
Labels: FLINK

#1905 Use the mvnw file in the project to execute the maven command.
  .github/workflows/docker_push.yml
  .github/workflows/maven.yml
Labels: INFRA

#1908 [Improve]update apache-shiro version to 1.10.0 fixing CVE-2022-40664
  streampark-console/streampark-console-service/pom.xml
Labels: BUILD, BACKEND

#1911 [Fix] Fix code style of junit5 test cases.
  streampark-console/streampark-console-service/src/test/java/com/github/benmanes/caffeine/cache/RefreshCacheTest.java
  streampark-console/streampark-console-service/src/test/java/java/util/concurrent/CompletableFutureTest.java
  streampark-console/streampark-console-service/src/test/java/java/util/regex/RegexTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/commons/mail/SendEmailTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/FileUtilsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/ShaHashUtilsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/entity/DependencyTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/entity/GitTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/enums/AlertTypeTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/VariableServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/alert/AlertServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/system/authentication/JWTTest.java
  streampark-flink/streampark-flink-repl/src/test/java/org/apache/streampark/flink/repl/test/FlinkInterpreterTest.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/test/java/org/apache/streampark/RegExpTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/AgentITCase.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/AgentThreadFactoryTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/ArgumentsTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/ProfilerRunnableTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/YamlConfigProviderTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/profiler/CpuAndMemoryProfilerTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/profiler/MethodArgumentProfilerTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/profiler/MethodDurationProfilerTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/profiler/ProcessInfoProfilerTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/profiler/StacktraceCollectorProfilerTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/profiler/StacktraceReporterProfilerTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/profiler/ThreadInfoProfilerTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/reporter/ConsoleOutputReporterTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/transformer/MethodProfilerStaticProxyTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/util/ClassAndMethodFilterTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/util/ClassAndMethodMetricBufferTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/util/ClassMethodArgmentMetricBufferTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/util/ClassMethodArgumentFilterTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/util/IOUtilsTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/util/ProcFileUtilsTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/util/ReflectionUtilsTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/util/SparkUtilsTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/util/StacktraceMetricBufferTest.java
  streampark-plugin/streampark-jvm-profiler/src/test/java/org/apache/streampark/plugin/profiling/util/StringUtilsTest.java
  streampark-storage/src/main/java/org/apache/streampark/Main.java
  streampark-storage/src/main/java/org/apache/streampark/storage/oss/OssStorageService.java
  streampark-storage/src/test/java/org/apache/streampark/storage/oss/OssStorageServiceTest.java
Labels: BACKEND, FLINK

#1913 [Improve]remove the unused private field 'roleService'
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
Labels: BACKEND

#1914 [Improve] login page style Improvement
  streampark-console/streampark-console-newui/src/assets/images/logo.png
  streampark-console/streampark-console-newui/src/assets/images/sign-bg.jpg
  streampark-console/streampark-console-newui/src/views/base/login/Login.vue
  streampark-console/streampark-console-newui/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-newui/src/views/base/login/LoginFormTitle.vue
Labels: WEB UI

#1916 [Bug]fixed the build.sh bug
  build.sh
Labels: BUILD

#1917 [Bug] StreamPark cannot search for failed status tasks
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
Labels: WEB UI

#1921 [Feature] add depend apps page and fix alert setting style
  streampark-console/streampark-console-newui/src/api/flink/setting/types/alert.type.ts
  streampark-console/streampark-console-newui/src/api/system/variable.ts
  streampark-console/streampark-console-newui/src/components/CardList/src/CardList.vue
  streampark-console/streampark-console-newui/src/design/public.less
  streampark-console/streampark-console-newui/src/layouts/default/footer/index.vue
  streampark-console/streampark-console-newui/src/router/constant.ts
  streampark-console/streampark-console-newui/src/router/guard/permissionGuard.ts
  streampark-console/streampark-console-newui/src/settings/projectSetting.ts
  streampark-console/streampark-console-newui/src/store/modules/permission.ts
  streampark-console/streampark-console-newui/src/store/modules/user.ts
  streampark-console/streampark-console-newui/src/utils/auth/index.ts
  streampark-console/streampark-console-newui/src/utils/cache/persistent.ts
  streampark-console/streampark-console-newui/src/views/base/login/Login.vue
  streampark-console/streampark-console-newui/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-newui/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-newui/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-newui/src/views/flink/setting/View.less
  streampark-console/streampark-console-newui/src/views/flink/setting/View.vue
  streampark-console/streampark-console-newui/src/views/flink/setting/components/AlertModal.vue
  streampark-console/streampark-console-newui/src/views/flink/setting/components/AlertSetting.vue
  streampark-console/streampark-console-newui/src/views/flink/setting/components/AlertTypeInfo.vue
  streampark-console/streampark-console-newui/src/views/flink/setting/components/SettingList.vue
  streampark-console/streampark-console-newui/src/views/flink/setting/components/SystemSetting.vue
  streampark-console/streampark-console-newui/src/views/flink/setting/components/alert.data.ts
  streampark-console/streampark-console-newui/src/views/flink/setting/hooks/useClusterSetting.ts
  streampark-console/streampark-console-newui/src/views/system/variable/DependApps.vue
  streampark-console/streampark-console-newui/src/views/system/variable/View.vue
  streampark-console/streampark-console-newui/src/views/system/variable/components/VariableDrawer.vue
  streampark-console/streampark-console-newui/src/views/system/variable/components/VariableInfo.vue
Labels: WEB UI

#1926 [Bug] support flinksql set syntax
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkSqlExecutor.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkSqlValidator.scala
Labels: FLINK

#1922 [Improve]Refining the ingress domain name pass-through
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, BACKEND

#1924 [Bug] docker-compose.yaml Startup problems #1918
  deploy/docker/docker-compose.yaml
Labels: DOCKER

#1928 [Improve] workspace class Improvement
  streampark-common/src/main/scala/org/apache/streampark/common/conf/Workspace.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: BACKEND, FLINK

#1858 [Feature] Unify flink configuration
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/WebMvcConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/interceptor/FileHeaderCheckInterceptor.java
  streampark-console/streampark-console-service/src/main/resources/flink-application.conf
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/conf/FlinkConfiguration.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/conf/ParameterCli.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/SubmitRequest.scala
Labels: BACKEND, FLINK

#1920 [Bug] task modification of yarn application cluster failed
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
Labels: WEB UI

#1929 [Feature] Add an interface that returns all variables to support a better user experience when referencing variables on the front end
  streampark-console/streampark-console-newui/src/api/system/variable.ts
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/VariableController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/VariableMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/VariableService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
  streampark-console/streampark-console-webapp/src/api/index.js
Labels: WEB UI, BACKEND

#1910 [improve]Precision state judgment based on archive logs
  streampark-common/src/main/scala/org/apache/streampark/common/conf/Workspace.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/archives/FetchArchives.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/archives/Jobs.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/archives/Overview.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: BUILD, BACKEND, FLINK, KUBERNETES

#1934 [Improve]: change alert style and fix suggestion bug
  streampark-console/streampark-console-newui/src/api/system/variable.ts
  streampark-console/streampark-console-newui/src/hooks/web/useMonaco.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useFlinkSchema.ts
  streampark-console/streampark-console-newui/src/views/flink/app/hooks/useLog.ts
  streampark-console/streampark-console-newui/src/views/flink/setting/components/AlertSetting.vue
Labels: WEB UI

#1933 [Bug] The mysql 1.2.4 upgrade script has the problem of incorrect fie…
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
Labels: BUILD, BACKEND
