Repository apache/streampark, pull requests merged in 2023-03, with the labels that each got.

#2377 improve badge
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/ExternalLinkBadge.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/ExternalLinkSetting.vue
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/impl/FlinkK8sApplicationBuildPipeline.scala
Labels: WEB UI, FLINK

#2382 [Fix]: Handling the @ special symbol in i18n
  streampark-console/streampark-console-webapp/src/api/flink/app/savepoint.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/SavepointApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/setting/hooks/useClusterSetting.ts
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableInfo.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleInfo.vue
Labels: WEB UI

#2388 [bug] complete effective field when list application config
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationConfigServiceImpl.java
Labels: BACKEND

#2394 [Bug][Issues-2374]Modify the StreamPark application flink taskmanger configuration
  streampark-console/streampark-console-webapp/src/views/flink/app/data/option.ts
Labels: WEB UI

#2398 [Bug][Issues-2396]Fix MavenWrapperMain ClassNotFoundException when run build.sh
  .mvn/wrapper/MavenWrapperDownloader.java
Labels: BUILD

#2399 string converter improvement
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigOption.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/InternalConfigHolder.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/Workspace.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
Labels: BACKEND

#2395 [Issue-2014][test] Add SpringTestBase class.
  .github/workflows/maven.yml
  pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/common/util/RegexTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringTestBase.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/EncryptUtilsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SenderEmailTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/entity/GitTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/VariableServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/alert/AlertServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/utils/YarnQueueLabelExpressionTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/system/authentication/JWTTest.java
  streampark-console/streampark-console-service/src/test/resources/application-test.yml
Labels: BUILD, INFRA, BACKEND

#2403 [Fix] add permission for /flink/conf/delete
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ConfigController.java
Labels: BACKEND

#2405 [Feature][ISSUE-2401] show more info of the sql history
  streampark-console/streampark-console-webapp/src/api/flink/app/flinkSql.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/FlinkSqlCompareModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/FlinkSqlDifferent.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/FlinkSqlReview.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
Labels: WEB UI

#2402 [Feature][ISSUE-2401] add list api and delete api in FlinkSqlController
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkSqlService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkSqlServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkSqlMapper.xml
Labels: BUILD, BACKEND

#2408 Update README.md
  README.md
Labels: DOCS

#2409 backup delete support
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-webapp/src/api/flink/app/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
Labels: WEB UI, BACKEND

#2412 [Improve]: Improve application form button display
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
Labels: WEB UI

#2413 [Issue-2397][Improve] Standardize the style of existing test cases.
  streampark-common/src/test/scala/org/apache/streampark/common/util/PropertiesUtilsTestCase.scala
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/common/util/CompletableFutureUtilsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/common/util/RegexTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SenderEmailTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/entity/ProjectTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/enums/AlertTypeTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/alert/AlertServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/system/authentication/JWTTest.java
Labels: BACKEND

#2427 [Bug] yarn session start failed
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
Labels: BACKEND

#2419 [Feature] [Issue-2324/Issue-2415] Add SQL DDL & DML for Yarn queue management feature.
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
Labels: BUILD, BACKEND

#2431 [Fix]Modify the regular expression to get the Flink client Scala version(#2386)(https://github.com/apache/incubator-streampark/issues/2386)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
Labels: BACKEND

#2434 [Fix] correct version number and translation issue
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
Labels: WEB UI

#2435 [Fix] complete JobManager URL info
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/LocalClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/RemoteClient.scala
Labels: FLINK

#2446 [Fix] remove candidate column in conf tab
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/CompareModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
Labels: WEB UI

#2441 fix Can't open k8s session cluster webUI #2248
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
Labels: BACKEND

#2443 hadoop env init "30s" format exception bug fixed #530
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
Labels: BACKEND

#2450 [Migrate][scala] Migrate the scala code to java for 'streampark-flink-udf'
  streampark-flink/streampark-flink-udf/src/main/java/org/apache/streampark/flink/udf/DateFormat.java
  streampark-flink/streampark-flink-udf/src/main/java/org/apache/streampark/flink/udf/HashCode.java
  streampark-flink/streampark-flink-udf/src/main/java/org/apache/streampark/flink/udf/Length.java
Labels: FLINK

#2452 [Imporve] fix that savepointing state lasts for a long time
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/CheckpointProcessor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkRESTAPIWatcher.java
Labels: BACKEND

#2456 [Fix] fix access token invalid bug
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/AccessTokenServiceTest.java
Labels: BACKEND

#2447 [Feature][Issue-2324/Issue-2418] Add FE pages for Yarn queue management feature.
  streampark-console/streampark-console-webapp/src/api/flink/setting/types/yarnQueue.type.ts
  streampark-console/streampark-console-webapp/src/api/flink/setting/yarnQueue.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/setting.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/setting.ts
  streampark-console/streampark-console-webapp/src/views/flink/setting/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/YarnQueue.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/YarnQueue.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/YarnQueueDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/hooks/useYarnQueueRender.tsx
Labels: WEB UI

#2463 [Feature] Update Variable and set reference Application's release field to NEED_RESTART
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/VariableController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/VariableService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/enums/FlinkJobState.scala
Labels: WEB UI, BACKEND, FLINK, KUBERNETES

#2471 [Hotfix] Translate the comments into English for FetchMillisecond.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/src/test/java/org/apache/streampark/flink/core/test/FetchMillisecond.java
Labels: FLINK

#2467 [Improve] yarnQueue check exists improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/YarnQueueMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/YarnQueueServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/YarnQueueMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/YarnQueueServiceTest.java
Labels: BACKEND

#2475 [fix] fix pid error
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

#2476 [Fix] Exclude SNAPSHOT dependency
  streampark-spark/streampark-spark-connector/streampark-spark-connector-kafka/pom.xml
Labels: BUILD, SPARK

#2481 [Improve] add probe enhancement for helm chart deploy.
  deploy/helm/streampark/templates/streampark.yml
  deploy/helm/streampark/values.yaml
Labels: DOCKER

#2478 [bug][issue-2477] login failed when ldap password was changed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

#2485 [Fix] fix-text-error-in-login-page
  streampark-console/streampark-console-webapp/src/locales/lang/en/sys.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
Labels: WEB UI

#2484 [Bug] When modifying the application parameter restartSize to a null value, the null value cannot be updated to the database
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
Labels: BACKEND

#2491 [Bug] The restartSize in the application cannot be set to 0
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
Labels: WEB UI

#2492 [Feature] [Feature] When adding token, it is necessary to support account search, because it is not easy to find when there are many users
  streampark-console/streampark-console-webapp/src/views/system/token/token.data.ts
Labels: WEB UI

#2495 [improve] support i18n for tab name & add copy button for backup path
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
Labels: WEB UI

#2379 Streampark flink job package includes cliassifier packages
  .gitignore
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/Pom.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/Artifact.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: BUILD, INFRA, WEB UI, BACKEND, FLINK

#2497 [Fix] Unable to delete fault alert template when saving job
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
Labels: BACKEND

#2500 [build]: update FE dependencies & improve yarn queue
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/components/Scrollbar/src/util.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/setting.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/setting.ts
  streampark-console/streampark-console-webapp/src/utils/propTypes.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/CompareModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/ExternalLinkModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/YarnQueue.vue
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/YarnQueueDrawer.vue
Labels: WEB UI

#2502 [Fix]: npm compilation errors in rollup
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/vite.config.ts
Labels: WEB UI

#2505 [Improve][Issue-2494] add login type column and hide reset password button when login type is ldap
  streampark-console/streampark-console-webapp/src/api/system/model/userModel.ts
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/user.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/user.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/base/login/useLogin.ts
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: WEB UI

#2507 [Improve] Consistently use pnpm in build and CI
  .github/workflows/frontend.yml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-webapp/README.md
  streampark-console/streampark-console-webapp/README.zh-CN.md
  streampark-console/streampark-console-webapp/package.json
Labels: BUILD, INFRA, WEB UI, DOCS, BACKEND

#2508 [Fix]: build error
  streampark-console/streampark-console-webapp/package.json
Labels: WEB UI

#2515 fix status error
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

#2518 [Polish] Delete pid file write and delete operation in console module
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
Labels: BACKEND

#2519 [Bug] Duplicate dependencies in console module
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
Labels: BUILD, BACKEND

#2523 [bug] fix the wrong duration value in webui
  streampark-console/streampark-console-webapp/src/utils/dateUtil.ts
Labels: WEB UI

#2509 [Fixed] During the use of postgresql, the 'state' field in the 't_fli…
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkSqlMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/YarnQueueMapper.xml
Labels: BUILD, BACKEND

#2524 [hotfix] Add console module pid write operation back
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/internal/DorisStreamLoader.java
Labels: BACKEND, FLINK

#2528 [Issue-2513][Polish] Delete tutorial backend code.
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/TutorialController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Tutorial.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/TutorialMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/TutorialService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/TutorialServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/TutorialMapper.xml
  streampark-console/streampark-console-webapp/src/api/flink/notebook.ts
  streampark-console/streampark-console-webapp/src/views/flink/notebook/Submit.less
  streampark-console/streampark-console-webapp/src/views/flink/notebook/Submit.vue
Labels: BUILD, WEB UI, BACKEND

#2516 [BUG]fix call deleteIngress reverse
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: BACKEND, FLINK, KUBERNETES

#2533 [Feature] Support Flink 1.17 application submit
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/BuildRequest.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/src/main/scala/org/apache/streampark/flink/core/FlinkClusterClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/src/main/scala/org/apache/streampark/flink/core/StreamTableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/src/main/scala/org/apache/streampark/flink/core/TableExt.scala
Labels: BUILD, BACKEND, FLINK

#2540 [Improve] flink shims regexp pattern imporvement
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/BuildRequest.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
Labels: BACKEND, FLINK
