Repository apache/streampark, pull requests merged in 2023-05, with the labels that each got.

#2713 [Improve] start script improvement
  deploy/docker/.env
  pom.xml
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: BUILD, WEB UI, BACKEND

#2715 [Improve] start-script improvement
  deploy/docker/.env
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

#2716 update version to 2.1.0
  build.sh
  deploy/helm/streampark/Chart.yaml
  deploy/helm/streampark/values.yaml
  pom.xml
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-console/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/OpenapiConfig.java
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-client/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-connector/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-influx/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-kafka/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/pom.xml
  streampark-flink/streampark-flink-core/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-proxy/pom.xml
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/pom.xml
  streampark-flink/streampark-flink-sqlclient/pom.xml
  streampark-flink/streampark-flink-udf/pom.xml
  streampark-spark/pom.xml
  streampark-spark/streampark-spark-cli/pom.xml
  streampark-spark/streampark-spark-connector/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-base/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-kafka/pom.xml
  streampark-spark/streampark-spark-core/pom.xml
  streampark-storage/pom.xml
Labels: BUILD, WEB UI, DOCKER, BACKEND, FLINK, KUBERNETES, SPARK

#2717 [Improve] streampark-shaded module improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/exception/ApiAlertException.java
  streampark-shaded/pom.xml
  streampark-shaded/streampark-shaded-jackson/pom.xml
Labels: BUILD, BACKEND

#2718 Ignore non-standard comments
  pom.xml
Labels: BUILD

#2719 update version to 2.2.0-SNAPSHOT
  build.sh
  deploy/helm/streampark/Chart.yaml
  deploy/helm/streampark/values.yaml
  pom.xml
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-console/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/OpenapiConfig.java
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-client/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-connector/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-influx/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-kafka/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/pom.xml
  streampark-flink/streampark-flink-core/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-proxy/pom.xml
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/pom.xml
  streampark-flink/streampark-flink-sqlclient/pom.xml
  streampark-flink/streampark-flink-udf/pom.xml
  streampark-shaded/pom.xml
  streampark-spark/pom.xml
  streampark-spark/streampark-spark-cli/pom.xml
  streampark-spark/streampark-spark-connector/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-base/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-kafka/pom.xml
  streampark-spark/streampark-spark-core/pom.xml
  streampark-storage/pom.xml
Labels: BUILD, DOCKER, BACKEND, FLINK, KUBERNETES, SPARK

#2720 [FIX] streampark version displayed in FE does not match the current version
  streampark-console/streampark-console-webapp/package.json
Labels: WEB UI

#2724 [Improve] put icon before resource type option
  streampark-console/streampark-console-webapp/src/assets/icons/connector.svg
  streampark-console/streampark-console-webapp/src/assets/icons/fx.svg
  streampark-console/streampark-console-webapp/src/assets/icons/jar.svg
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/resource.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/resource.ts
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/ResourceDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/useResourceRender.tsx
Labels: WEB UI

#2734 remove delete user function and add transfer resource of user function
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ResourceMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ResourceMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/UserServiceTest.java
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/user.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/user.ts
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
  streampark-console/streampark-console-webapp/src/views/system/user/components/UserDrawer.vue
Labels: WEB UI, BACKEND

#2733 [improve] Upgrade httpclient version to 5.1
  pom.xml
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/HttpClientUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/OpenapiConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/GZipUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/DingTalkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/LarkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkRESTAPIWatcher.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationServiceTest.java
  streampark-flink/streampark-flink-connector/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-packer/pom.xml
Labels: BUILD, BACKEND, FLINK, YARN

#2735 [Improve] support add resource via maven artifacts
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Dependency.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Pom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkSql.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Resource.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ResourceType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ResourceMapper.xml
  streampark-console/streampark-console-webapp/src/api/flink/resource/model/resourceModel.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/resource.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/resource.ts
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/Resource.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/ResourceDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/useResourceRender.tsx
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/DependencyInfo.scala
Labels: BUILD, WEB UI, BACKEND, FLINK

#2705 [improve-2695][console-service] The flink/pipe/build interface is not standardized
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/AppBuildPipeService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
Labels: BACKEND

#2267 [feature] SqlGateway base module
  pom.xml
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-sql-gateway/pom.xml
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/pom.xml
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/ConfigOption.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/ExecutionConfiguration.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/OperationHandle.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/OperationStatus.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/exception/SqlGatewayException.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/exception/ValidationException.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/factories/Factory.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/factories/FactoryUtil.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/factories/ServiceLoaderUtil.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/factories/SqlGatewayServiceFactory.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/factories/SqlGatewayServiceFactoryUtils.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/results/Column.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/results/FetchOrientation.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/results/FunctionInfo.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/results/GatewayInfo.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/results/JobID.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/results/ObjectIdentifier.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/results/OperationInfo.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/results/ResultKind.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/results/ResultQueryCondition.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/results/ResultSet.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/results/RowData.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/results/TableInfo.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/results/TableKind.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/service/SqlGatewayService.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/session/SessionEnvironment.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/session/SessionHandle.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/test/java/org/apache/streampark/gateway/service/SqlGatewayServiceFactoryUtilsTest.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/test/java/org/apache/streampark/gateway/utils/FakeSqlGatewayService.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/test/java/org/apache/streampark/gateway/utils/FakeSqlGatewayServiceFactory.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/test/java/org/apache/streampark/gateway/utils/MockedSqlGatewayService.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/test/java/org/apache/streampark/gateway/utils/MockedSqlGatewayServiceFactory.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/test/resources/META-INF/services/org.apache.streampark.gateway.factories.Factory
Labels: BUILD, FLINK

#2592 [Issue-2534][Improve] Optimize methods for Savepoint service.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SavePointServiceTest.java
Labels: feature/accepted, BACKEND

#2741 [FIX]fix parse k8s version
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressController.scala
Labels: FLINK, KUBERNETES

#2747 [Improve] FE dependencies version update
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-push.yml
  .github/workflows/maven.yml
  build.sh
  pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/resources/md/repl.md
  streampark-console/streampark-console-webapp/package.json
  streampark-flink/streampark-flink-connector/pom.xml
  streampark-flink/streampark-flink-shims/pom.xml
Labels: BUILD, INFRA, WEB UI, BACKEND, FLINK

#2748 [Bug] flink CANCEL_ENABLE bug fixed.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

#2749 [Bug] 2.1.0 bug fixed
  build.sh
  deploy/helm/streampark/Chart.yaml
  deploy/helm/streampark/values.yaml
  pom.xml
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-console/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/OpenapiConfig.java
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-client/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-connector/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-influx/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-kafka/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/pom.xml
  streampark-flink/streampark-flink-core/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressController.scala
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-proxy/pom.xml
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/pom.xml
  streampark-flink/streampark-flink-sqlclient/pom.xml
  streampark-flink/streampark-flink-udf/pom.xml
  streampark-shaded/pom.xml
  streampark-spark/pom.xml
  streampark-spark/streampark-spark-cli/pom.xml
  streampark-spark/streampark-spark-connector/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-base/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-kafka/pom.xml
  streampark-spark/streampark-spark-core/pom.xml
  streampark-storage/pom.xml
Labels: BUILD, DOCKER, BACKEND, FLINK, KUBERNETES, SPARK

#2750 [Improve]docker add arm support(mac m1/m2)
  .github/workflows/docker-push.yml
Labels: INFRA

#2744 [Issue-2535] Refactor FlinkClusterService.
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
Labels: BACKEND

#2758 [FIX]fix file not found error on docker image building
  deploy/docker/Dockerfile
Labels: DOCKER

#2760 [Bug][issue-2754] correct yarn url address
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
Labels: WEB UI

#2767 [fix] issues 2765
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
Labels: WEB UI

#2778 [BUG] Fix wrong app type in dev 2.1.1
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEdit.ts
Labels: WEB UI

#2774 [BUG] fix ldap login error
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/LdapService.java
Labels: BACKEND

#2777 [BUG] Fix wrong app type
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEdit.ts
Labels: WEB UI

#2775 [BUG] fix ldap login error in dev-2.1.1
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/LdapService.java
Labels: BACKEND

#2675 [ISSUE-2498][Feature] [SubTask] The cluster supports remote and yarn session heartbeat monitoring
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
Labels: feature/accepted, BUILD, BACKEND

#2782 [Feature][ISSUE-2780] support set RestoreMode when starting app
  streampark-common/src/main/java/org/apache/streampark/common/enums/RestoreMode.java
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: WEB UI, BACKEND, FLINK

#2751 [Bug] Kubernetes session cluster can be deleted even if it's still in use
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
Labels: WEB UI
