Repository apache/streampark, pull requests merged in 2023-01, with the labels that each got.

#2218 [Improve] field name Improvement
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.0.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/GitUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/GitCredential.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/entity/GitTest.java
  streampark-console/streampark-console-webapp/src/enums/projectEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/components/RepositoryGroup.tsx
  streampark-console/streampark-console-webapp/src/views/flink/project/useProject.tsx
Labels: BUILD, WEB UI, BACKEND

#2219 [bug] flink get metrics by RESTAPI bug fixed
  .editorconfig
  .gitattributes
  .gitignore
  pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigOption.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/Converter.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/interceptor/FileHeaderCheckInterceptor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkConsoleAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FailoverStrategy.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/metrics/flink/JvmProfiler.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/metrics/yarn/YarnAppInfo.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SavePointService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationBackUpServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkSqlServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/CheckpointProcessor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkRESTAPIWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ProjectBuildTask.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkSqlMapper.xml
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/utils/propTypes.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/DefaultFlinkK8sWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatchController.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatcherLazyStartAop.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/helper/KubernetesWatcherHelper.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkCheckpointWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkK8sEventWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkMetricsWatcher.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/BuildRequest.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/CancelRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/DeployRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/ShutDownRequest.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/src/main/scala/org/apache/streampark/flink/submit/bean/SubmitRequest.scala
  streampark-spark/streampark-spark-core/src/main/resources/spark-firemonitor
  streampark-spark/streampark-spark-core/src/main/resources/spark-rpcdemo
  streampark-spark/streampark-spark-core/src/main/resources/start-firemonitor-server.sh
  streampark-spark/streampark-spark-core/src/main/resources/start-rpcdemo-server.sh
  streampark-spark/streampark-spark-core/src/main/resources/stop-firemonitor-server.sh
  streampark-spark/streampark-spark-core/src/main/resources/stop-rpcdemo-server.sh
  tools/checkstyle/checkstyle.xml
Labels: BUILD, INFRA, WEB UI, BACKEND, FLINK, KUBERNETES, SPARK

#2220 [Improve] build.sh script improvement
  build.sh
Labels: BUILD

#2223 [Fix]: Fixed Configuration compare bug
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/CompareModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/Different.vue
Labels: WEB UI

#2227 [Bug] add multiple email verify bug fixed
  streampark-console/streampark-console-webapp/src/api/base/model/systemModel.ts
  streampark-console/streampark-console-webapp/src/api/base/system.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/setting/components/AlertModal.vue
Labels: WEB UI

#2232 [fix][assembly] fix sh lineEnding
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
Labels: BUILD, BACKEND

#2230 [Improve] flinkCluster update state improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
Labels: BACKEND

#2233 [bug] assembly line-ending bug fixed.
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
Labels: BUILD, BACKEND

#2235 [Improve] cleanup docker-compose
  .github/workflows/docker_push.yml
  deploy/docker/.env
  deploy/docker/Dockerfile
  deploy/docker/mysql/.env
  deploy/docker/pgsql/.env
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/assembly/plugins/Dockerfile
Labels: BUILD, INFRA, DOCKER, BACKEND

#2237 [Improve] add flink-home improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkEnvController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
Labels: BACKEND

#2236 [Improve] deploy on docker readme added
  deploy/docker/.env
  deploy/docker/README.md
  deploy/docker/docker-compose.yaml
Labels: DOCKER, DOCS

#2240 [Improve] maven pom cleanup for apache-release
  .github/workflows/maven.yml
  build.sh
  pom.xml
  streampark-console/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-proxy/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/pom.xml
  streampark-flink/streampark-flink-sqlclient/pom.xml
  streampark-flink/streampark-flink-submit/pom.xml
  streampark-flink/streampark-flink-submit/streampark-flink-submit-api/pom.xml
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/pom.xml
  streampark-flink/streampark-flink-udf/pom.xml
  streampark-storage/pom.xml
Labels: BUILD, INFRA, BACKEND, FLINK, KUBERNETES

#2245 [Improve] file upload check file type improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/WebMvcConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/enums/FileType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/interceptor/UploadFileTypeInterceptor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

#2239 [Bug] Adapt to multiple versions of FlinkKubeClient
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/pom.xml
  streampark-flink/streampark-flink-submit/streampark-flink-submit-core/src/main/scala/org/apache/streampark/flink/submit/impl/KubernetesNativeSessionSubmit.scala
Labels: BUILD, FLINK

#2246 [Bug] job metrics update bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: BACKEND

#2243 [Improve] read flink on k8s deploy log improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/CompletableFutureUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/MoreFutures.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/LogClientService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/LoggerService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/LoggerServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/common/util/CompletableFutureUtilsTest.java
  streampark-console/streampark-console-webapp/src/api/flink/app/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/LogModal.vue
Labels: WEB UI, BACKEND

#2250 [Improve] update project introduction
  README.md
  README_CN.md
  dist-material/release-docs/LICENSE
Labels: DOCS

#2251 update social media in readme
  README.md
Labels: DOCS

#2249 [Bug] get job log on k8s bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/LogClientService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: BACKEND, FLINK, KUBERNETES

#2253 [Bug] create view syntax validation bug fixed
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/SqlCommandParser.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/src/test/scala/org/apache/streampark/flink/core/test/FlinkSqlValidationFunSuite.scala
Labels: FLINK

#2254 [Improve] deploy job timeout improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkRESTAPIWatcher.java
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/BuildPipeline.scala
Labels: BACKEND, FLINK

#2257 update readme
  README.md
Labels: DOCS

#2258 Update README.md
  README.md
Labels: DOCS

#2259 [Fixed] maven-shaded-plugin build jar connot upload into flink job.
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
Labels: BACKEND

#2263 [Hotfix] Add 'streampark-console/streampark-console-webapp/node/' relative path into .gitignore file.
  .gitignore
Labels: INFRA

#2262 [Feature][Issue-2214] Support to select user when binding member.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/mapper/MemberMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MemberService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MemberMapper.xml
  streampark-console/streampark-console-webapp/src/api/system/member.ts
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberDrawer.vue
Labels: WEB UI, BACKEND

#2265 [Improve] Front-end module code optimization, typo fixed
  .mvn/wrapper/maven-wrapper.jar
  streampark-console/streampark-console-webapp/public/resource/fonts/devanagari-3.woff2
  streampark-console/streampark-console-webapp/src/api/system/member.ts
  streampark-console/streampark-console-webapp/src/api/system/model/memberModel.ts
  streampark-console/streampark-console-webapp/src/api/system/model/notifyModel.ts
  streampark-console/streampark-console-webapp/src/api/system/notify.ts
  streampark-console/streampark-console-webapp/src/api/system/role.ts
  streampark-console/streampark-console-webapp/src/api/system/team.ts
  streampark-console/streampark-console-webapp/src/api/system/token.ts
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/notify/NoticeList.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/notify/index.vue
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberDrawer.vue
Labels: BUILD, WEB UI

#2266 [Improve]: Remove the special font of the login page
  streampark-console/streampark-console-webapp/index.html
  streampark-console/streampark-console-webapp/public/resource/css/fonts.css
  streampark-console/streampark-console-webapp/public/resource/fonts/devanagari-1.woff2
  streampark-console/streampark-console-webapp/public/resource/fonts/devanagari-2.woff2
  streampark-console/streampark-console-webapp/public/resource/fonts/devanagari-3.woff2
  streampark-console/streampark-console-webapp/public/resource/fonts/latin-1.woff2
  streampark-console/streampark-console-webapp/public/resource/fonts/latin-2.woff2
  streampark-console/streampark-console-webapp/public/resource/fonts/latin-3.woff2
  streampark-console/streampark-console-webapp/public/resource/fonts/latin-ext-1.woff2
  streampark-console/streampark-console-webapp/public/resource/fonts/latin-ext-2.woff2
  streampark-console/streampark-console-webapp/public/resource/fonts/latin-ext-3.woff2
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
  streampark-console/streampark-console-webapp/src/views/base/login/LoginSlogan.less
Labels: WEB UI

#2270 [Improve] remove unused images
  streampark-console/streampark-console-webapp/public/resource/img/logo.svg
  streampark-console/streampark-console-webapp/src/assets/svg/illustration.svg
  streampark-console/streampark-console-webapp/src/assets/svg/login-bg.svg
  streampark-console/streampark-console-webapp/src/assets/svg/net-error.svg
  streampark-console/streampark-console-webapp/src/assets/svg/no-data.svg
Labels: WEB UI

#2272 [Improve] Remove useless code.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Note.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/NoteBookController.java
Labels: BACKEND

#2271 [Fix]: add member bug fix
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/user.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/user.ts
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: WEB UI
