Repository apache/streampark, pull requests merged in 2023-07, with the labels that each got.

#2809 [ISSUE-2423][Feature][WIP] flink cluster failure alarm&failover
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/AlertService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkRESTAPIWatcher.java
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-dingTalk.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-email.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-lark.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-weCom.ftl
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
Labels: BUILD, BACKEND

#2824 sso login improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/SsoController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/application-sso.yml
  streampark-console/streampark-console-webapp/src/api/flink/resource/index.ts
  streampark-console/streampark-console-webapp/src/api/system/passport.ts
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/yarnQueue.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/user.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/yarnQueue.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/user.ts
  streampark-console/streampark-console-webapp/src/router/guard/ssoGuard.ts
  streampark-console/streampark-console-webapp/src/store/modules/lock.ts
  streampark-console/streampark-console-webapp/src/store/modules/user.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/resource/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/Resource.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/ResourceDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/useResourceRender.tsx
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/system/user/components/UserDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: WEB UI, BACKEND

#2832 [feature] Support hw flink
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
Labels: BACKEND

#2834 [improve] keberos auth improve
  deploy/helm/streampark/conf/streampark-console-config/kerberos.yml
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-console/streampark-console-service/src/main/resources/kerberos.yml
Labels: DOCKER, BACKEND

#2833 [Improve] Improve kerberos config
  deploy/helm/streampark/conf/streampark-console-config/kerberos.yml
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-console/streampark-console-service/src/main/resources/kerberos.yml
Labels: DOCKER, BACKEND

#2839 Fix address err & typos in the code
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/internal/DorisSinkFunction.java
Labels: BACKEND, FLINK

#2840 [repo] Add vcs.xml for idea
  .gitignore
  .idea/vcs.xml
Labels: INFRA

#2841 [FIX] sso login patch
  deploy/helm/streampark/conf/streampark-console-config/application-sso.yml
  deploy/helm/streampark/conf/streampark-console-config/application.yml
  streampark-console/streampark-console-service/src/main/resources/application.yml
  streampark-console/streampark-console-webapp/src/api/system/passport.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/Resource.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkGateway/index.vue
Labels: WEB UI, DOCKER, BACKEND

#2842 minor improvement
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
Labels: BACKEND

#2845 build: Repair the blank page problem after front-end compilation
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-webapp/README.zh-CN.md
Labels: BUILD, WEB UI, BACKEND

#2846 fix: build pom.xml error
  streampark-console/streampark-console-service/pom.xml
Labels: BUILD, BACKEND

#2826 [Improve] Flink cluster status monitoring improvement
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/annotation/AppUpdated.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/CheckpointProcessor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkHttpWatcher.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: BUILD, BACKEND

#2850 [Fix]: monaco editor foldingStrategy parameters
  streampark-console/streampark-console-webapp/src/hooks/web/useMonaco.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Drawer.vue
Labels: WEB UI

#2852 [Improve]: update FE dependencies, use pnpm
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-webapp/.gitpod.yml
  streampark-console/streampark-console-webapp/build/script/buildConf.ts
  streampark-console/streampark-console-webapp/build/script/postBuild.ts
  streampark-console/streampark-console-webapp/build/vite/plugin/appConfig.ts
  streampark-console/streampark-console-webapp/build/vite/plugin/html.ts
  streampark-console/streampark-console-webapp/build/vite/plugin/index.ts
  streampark-console/streampark-console-webapp/build/vite/utils/env.ts
  streampark-console/streampark-console-webapp/build/vite/utils/hash.ts
  streampark-console/streampark-console-webapp/index.html
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/components/Application/src/AppDarkModeToggle.vue
  streampark-console/streampark-console-webapp/src/components/Container/src/collapse/CollapseContainer.vue
  streampark-console/streampark-console-webapp/src/components/ContextMenu/src/ContextMenu.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/BasicForm.vue
  streampark-console/streampark-console-webapp/src/components/Icon/src/SvgIcon.vue
  streampark-console/streampark-console-webapp/src/components/Page/src/PageFooter.vue
  streampark-console/streampark-console-webapp/src/hooks/web/useLockPage.ts
  streampark-console/streampark-console-webapp/src/utils/env.ts
  streampark-console/streampark-console-webapp/src/utils/props.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/components/AlertModal.vue
  streampark-console/streampark-console-webapp/stylelint.config.js
  streampark-console/streampark-console-webapp/vite.config.ts
Labels: BUILD, WEB UI, BACKEND

#2857 [#2853]fix: remove default Threadstacksize
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

#2858 [ISSUE-2851][improvement] improvement flink cluster status update
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
Labels: BACKEND

#2859 flink cluster improvement
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
Labels: BACKEND

#2854 [Feature] initial commit rest v2 api example
  pom.xml
  streampark-console/pom.xml
  streampark-console/streampark-console-openapi/pom.xml
  streampark-console/streampark-console-openapi/src/main/resources/streampark_rest_v2.yaml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/AlertConfigsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/ExternalLinksApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/FlinkApplicationsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/FlinkClustersApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/FlinkConfigsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/FlinkEnviromentsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/FlinkPodTemplatesApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/FlinkSqlApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/HistoriesApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/MembersApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/MenusApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/PassportApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/ProjectApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/RolesApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/SavepointsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/SettingsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/TeamsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/TokensApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/UsersApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/VariablesApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/convert/AlertConfigConvert.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/exception/ApiV2Exception.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/exception/ApiV2ExceptionHandler.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/exception/BadRequestException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/exception/ForbiddenException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/exception/NotFoundException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/RestRequest.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/handler/GlobalExceptionHandler.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/JacksonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/AlertConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/AlertConfigService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertConfigServiceImpl.java
Labels: BUILD, BACKEND

#2864 Modify CURLBuilder log
  streampark-common/src/main/scala/org/apache/streampark/common/util/CURLBuilder.scala
Labels: BACKEND

#2866 YarnUtils Deprecated method optimization
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
Labels: BACKEND, YARN

#2867 SubmitRequest checkBuildResult method optimization
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
Labels: FLINK

#2873 Tuple support
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple1.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple2.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple3.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple4.java
Labels: BACKEND

#2874 Extract common const PARAM_PREFIX
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/SqlCommandParser.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/src/test/scala/org/apache/streampark/flink/core/test/FlinkSqlExecuteFunSuite.scala
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/Spark.scala
Labels: BACKEND, FLINK, SPARK

#2893 Remove FlinkClientTrait duplicate code
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

#2908 Modify RemoteClient log
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/RemoteClient.scala
Labels: FLINK

#2903 [ISSUE-2902][improvement] improvement flink cluster verifyClusterConnection
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkHttpWatcher.java
Labels: BACKEND

#2905 [Feature] support for flink cluster configuration
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/EditCluster.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/useClusterSetting.ts
Labels: WEB UI, BACKEND

#2906 The YarnClientTrait add clusterClient close
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
Labels: FLINK

#2909 [Flink-K8s-V2] Create Shaded module for flink-kubernetes-operator-api dependency
  dist-material/release-docs/LICENSE
  streampark-shaded/pom.xml
  streampark-shaded/streampark-shaded-flink-kubernetes-operator/pom.xml
Labels: BUILD

#2911 YarnSessionClient code optimization
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
Labels: FLINK
