Repository apache/streampark, pull requests merged in 2023-06, with the labels that each got.

#2787 Correct doStart() method comment message.
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: FLINK, KUBERNETES

#2742 [Improve] support resource group
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-webapp/src/assets/icons/group.svg
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/resource.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/resource.ts
  streampark-console/streampark-console-webapp/src/views/flink/resource/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/Resource.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/ResourceDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/resource.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/resource/useResourceRender.tsx
Labels: WEB UI, BACKEND

#2792 [Fix][Resource] hide pom tab when resource type is flink app
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/Resource.vue
Labels: WEB UI

#2795 [fix] Remove latest tag on docker image triggered by branch dev
  .github/workflows/docker-push.yml
Labels: INFRA

#2793 [improve] hadoop sample support
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
Labels: BACKEND, YARN

#2797 [FIX] fix failure test of testHostAliasSpecToPodTemplate
  streampark-flink/streampark-flink-kubernetes/src/test/scala/org/apache/streampark/flink/kubernetes/PodTemplateParserTest.scala
Labels: FLINK, KUBERNETES

#2804 Load the plugins directory of Flink home when starting the Yarn sessi…
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
Labels: FLINK

#2800 Load the plugins directory of Flink home when starting the Yarn sessi…
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
Labels: FLINK

#2776 [Feature] Support Single Sign-On (SSO)
  dist-material/release-docs/LICENSE
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/LoginType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/SsoShiroPlugin.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/SsoController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/application-sso.yml
  streampark-console/streampark-console-service/src/main/resources/application.yml
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/enums/pageEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/sys.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/sys.ts
  streampark-console/streampark-console-webapp/src/router/guard/index.ts
  streampark-console/streampark-console-webapp/src/router/guard/permissionGuard.ts
  streampark-console/streampark-console-webapp/src/router/guard/ssoGuard.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
Labels: BUILD, WEB UI, BACKEND

#2806 Modify version to 2.1.1
  streampark-console/streampark-console-webapp/package.json
Labels: WEB UI

#2820 [BUG] fix mapping operation failed
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: BACKEND

#2819 [Bug] remote mode job remapping status bug fixed
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkRESTAPIWatcher.java
Labels: BACKEND, YARN

#2823 update version to 2.1.2
  build.sh
  deploy/helm/streampark/Chart.yaml
  deploy/helm/streampark/values.yaml
  pom.xml
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-console/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/OpenapiConfig.java
  streampark-console/streampark-console-webapp/package.json
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-client/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-connector/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-influx/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-kafka/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/pom.xml
  streampark-flink/streampark-flink-core/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-proxy/pom.xml
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/pom.xml
  streampark-flink/streampark-flink-sqlclient/pom.xml
  streampark-flink/streampark-flink-udf/pom.xml
  streampark-shaded/pom.xml
  streampark-spark/pom.xml
  streampark-spark/streampark-spark-cli/pom.xml
  streampark-spark/streampark-spark-connector/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-base/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-kafka/pom.xml
  streampark-spark/streampark-spark-core/pom.xml
  streampark-storage/pom.xml
Labels: BUILD, WEB UI, DOCKER, BACKEND, FLINK, KUBERNETES, SPARK
