Repository apache/streampark, pull requests merged in 2024-05, with the labels that each got.

#3696 [Improve][project-build] Limit the number of running build projects
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ProjectMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/config.yaml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
Labels: BACKEND

#3699 [Improve] Trivial improvements
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/resource.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/alarm.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkHome.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/team.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/resource/project/useProject.tsx
Labels: BUILD, WEB UI, BACKEND

#3702 [Bug]Encounter 404 Page Not Found errors while visiting Setting module pages
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-webapp/src/views/setting/yarnQueue/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/yarnQueue/YarnQueueDrawer.vue
  streampark-console/streampark-console-webapp/src/views/setting/yarnQueue/index.data.ts
  streampark-console/streampark-console-webapp/src/views/setting/yarnQueue/useYarnQueueRender.tsx
Labels: BUILD, WEB UI, BACKEND

#3705 [Feature] Optimize log printing and return in GlobalExceptionHandler
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/handler/GlobalExceptionHandler.java
Labels: BACKEND

#3710 [Build] Setting version to 2.1.5
  build.sh
  helm/streampark/Chart.yaml
  helm/streampark/values.yaml
  pom.xml
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-console/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/OpenapiConfig.java
  streampark-console/streampark-console-webapp/package.json
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-client/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-connector/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-influx/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-kafka/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/pom.xml
  streampark-flink/streampark-flink-core/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-proxy/pom.xml
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.18/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/pom.xml
  streampark-flink/streampark-flink-sqlclient/pom.xml
  streampark-flink/streampark-flink-udf/pom.xml
  streampark-shaded/pom.xml
  streampark-spark/pom.xml
  streampark-spark/streampark-spark-cli/pom.xml
  streampark-spark/streampark-spark-connector/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-base/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-kafka/pom.xml
  streampark-spark/streampark-spark-core/pom.xml
Labels: BUILD, WEB UI, BACKEND, FLINK, KUBERNETES, SPARK

#3712 [Bug] Error happened when releasing application if don't need to be …
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/routes/basic.ts
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: BUILD, WEB UI, BACKEND, FLINK

#3718 [Improve] disable TRACE method improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/WebMvcConfig.java
Labels: BACKEND

#3707 [Imporve] Optimize log printing in GlobalExceptionHandler
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/handler/GlobalExceptionHandler.java
Labels: BACKEND

#3720 [improve] add more debug log
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationBackUpServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
Labels: BACKEND

#3721 [Improve] Improve error log
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SqlCompleteServiceImpl.java
Labels: BACKEND

#3723 [Improve]Trivial improvements
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-webapp/src/locales/lang/en/layout.ts
Labels: WEB UI, BACKEND

#3726 [Bug] Update esbuild version when compile with ./build.sh
  streampark-console/streampark-console-webapp/vite.config.ts
Labels: WEB UI
