Repository apache/streampark, pull requests merged in 2024-09, with the labels that each got.

#4014 [Improve]: Change project page presentation mode to table
  streampark-console/streampark-console-webapp/src/components/Page/src/PageWrapper.vue
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/hooks/web/useContentHeight.ts
  streampark-console/streampark-console-webapp/src/layouts/default/footer/index.vue
  streampark-console/streampark-console-webapp/src/layouts/default/menu/index.vue
  streampark-console/streampark-console-webapp/src/layouts/default/sider/LayoutSider.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableColumns.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/System/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/index.vue
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
  streampark-console/streampark-console-webapp/src/views/system/menu/Menu.vue
  streampark-console/streampark-console-webapp/src/views/system/role/Role.vue
  streampark-console/streampark-console-webapp/src/views/system/team/Team.vue
  streampark-console/streampark-console-webapp/src/views/system/token/Token.vue
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
Labels: WEB UI

#4015 [Improve] project page minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
Labels: WEB UI, BACKEND

#4017 [Fix]: app table resize tool
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppResize.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
Labels: WEB UI

#4018 [Improve]: table style
  streampark-console/streampark-console-webapp/.vscode/settings.json
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/variable.data.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/YarnQueueModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/index.data.ts
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/index.vue
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-console/streampark-console-webapp/src/views/system/role/Role.vue
  streampark-console/streampark-console-webapp/src/views/system/role/role.data.ts
  streampark-console/streampark-console-webapp/src/views/system/team/Team.vue
  streampark-console/streampark-console-webapp/src/views/system/team/TeamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/team.data.ts
  streampark-console/streampark-console-webapp/src/views/system/token/Token.vue
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: WEB UI

#4019 feature: change "Rest-Service Exposed Type" from LoadBalancer to ClusterIP
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
Labels: WEB UI

#4020 [Improve] FE style minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkEnvController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/FlinkClusterMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/FlinkEnvMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkEnvService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkEnvMapper.xml
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkEnv.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/variable.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkHome.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/role.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/team.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/user.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/variable.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/flinkHome.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/role.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/team.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/user.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/View.less
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/variable.data.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/index.data.ts
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/index.vue
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
  streampark-console/streampark-console-webapp/src/views/system/role/Role.vue
  streampark-console/streampark-console-webapp/src/views/system/role/role.data.ts
  streampark-console/streampark-console-webapp/src/views/system/team/Team.vue
  streampark-console/streampark-console-webapp/src/views/system/team/team.data.ts
  streampark-console/streampark-console-webapp/src/views/system/token/Token.vue
  streampark-console/streampark-console-webapp/src/views/system/token/token.data.ts
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: WEB UI, BACKEND

#4021 [Improve] FE page minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkEnvController.java
  streampark-console/streampark-console-webapp/src/api/flink/app/app.ts
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkEnv.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/team.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/member.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
Labels: WEB UI, BACKEND

#4024 [Improve]: Created form drawer changed to modal
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkEnv.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/member.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/DependApps.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableInfo.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/useClusterSetting.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/YarnQueueModal.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/TeamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/team.data.ts
  streampark-console/streampark-console-webapp/src/views/system/token/Token.vue
  streampark-console/streampark-console-webapp/src/views/system/token/components/TokenModal.vue
  streampark-console/streampark-console-webapp/src/views/system/token/token.data.ts
Labels: WEB UI

#4027 [Improve] cp/sp path improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SavepointService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
Labels: BACKEND

#4029 Fix the issue where the HA files are not cleaned up when the Flink job stops, causing two identical jobs to start the next time a new job is launched.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient.scala
Labels: FLINK

#4030 Fix the issue of state update failure.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: BACKEND

#4031 Fix the issue where the state sometimes remains as "canceled" continuously.
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: FLINK, KUBERNETES

#4032 [Improve]: app table resize tool & fix resize bug when menu collapsed
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppResize.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableColumns.ts
Labels: WEB UI

#4033 [Improve] get flink|spark app mainClass support
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ResourceController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Resource.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ResourceTypeEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/UserServiceTest.java
  streampark-console/streampark-console-webapp/src/api/resource/upload/index.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/resource/upload/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/Upload.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/UploadDrawer.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/upload.data.ts
  streampark-console/streampark-console-webapp/src/views/resource/upload/useUploadRender.tsx
  streampark-console/streampark-console-webapp/src/views/resource/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkRender.tsx
Labels: WEB UI, BACKEND

#4039 [Improve] required_status_checks minor improvement
  .asf.yaml
Labels: INFRA

#4035 [Improve] resource upload improvement
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-it/src/test/java/org/apache/streampark/plugin/registry/RegistryTestCase.java
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/main/java/org/apache/streampark/plugin/registry/jdbc/JdbcRegistry.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/UploadResponse.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationHistoryController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ResourceController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SparkApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/ApplicationInfoService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/SparkApplicationInfoService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ResourceServiceTest.java
  streampark-console/streampark-console-webapp/src/api/flink/flinkHistory.ts
  streampark-console/streampark-console-webapp/src/api/resource/upload/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/Upload.vue
Labels: WEB UI, BACKEND

#4005 [Improve][Bug] dev: Kerberos authentication support in Flink on YARN
  streampark-common/src/main/scala/org/apache/streampark/common/conf/InternalConfigHolder.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnPerJobClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
Labels: BACKEND, FLINK

#4042 [Improve] Adjust to fit the Spark page
  streampark-common/src/main/java/org/apache/streampark/common/enums/SparkDevelopmentMode.java
  streampark-common/src/main/scala/org/apache/streampark/common/conf/SparkVersion.scala
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkApplication.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SparkAppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SparkApplicationBackUpServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/SparkApplicationMapper.xml
  streampark-spark/streampark-spark-client/streampark-spark-client-api/src/main/scala/org/apache/streampark/spark/client/bean/SubmitRequest.scala
  streampark-spark/streampark-spark-client/streampark-spark-client-api/src/main/scala/org/apache/streampark/spark/client/proxy/SparkShimsProxy.scala
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/Spark.scala
Labels: BUILD, BACKEND, SPARK

#4043 [Improve] e2e findElement imporvement
  .github/workflows/e2e.yml
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/types/tableAction.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/flink/home/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/system/member/View.vue
  streampark-console/streampark-console-webapp/src/views/system/role/View.vue
  streampark-console/streampark-console-webapp/src/views/system/team/View.vue
  streampark-console/streampark-console-webapp/src/views/system/token/View.vue
  streampark-console/streampark-console-webapp/src/views/system/user/View.vue
  streampark-e2e/lombok.config
  streampark-e2e/pom.xml
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/LoginPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/common/NavBarPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/ApacheFlinkPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/FlinkHomePage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/ApplicationsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/FlinkSQLEditor.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/ProjectsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/ResourcePage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/UploadsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/VariablesPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/MemberManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/RoleManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/SystemPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/TeamManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/TokenManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/UserManagementPage.java
Labels: BUILD, INFRA, WEB UI

#4046 [Bug] resource upload bug fixed.
  streampark-console/streampark-console-webapp/src/api/resource/upload/index.ts
  streampark-console/streampark-console-webapp/src/assets/icons/spark.svg
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/UploadDrawer.vue
Labels: WEB UI

#4047 [Fix]: User-defined ingress causes job status error (apache#3792)
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategyV1.scala
Labels: FLINK, KUBERNETES

#4045 [improvement] The timed state synchronizes the periodic configuration
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/SparkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/resources/config.yaml
  streampark-console/streampark-console-service/src/test/resources/application-integration-test.yml
  streampark-console/streampark-console-service/src/test/resources/application-test.yml
Labels: BACKEND

#4048 [Improve] e2e minor improvement
  .github/workflows/e2e.yml
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleDrawer.vue
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/ApplicationsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/ProjectsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/RoleManagementPage.java
Labels: INFRA, WEB UI

#4041 [Fix]: spark app page bug
  streampark-console/streampark-console-webapp/src/components/Page/src/PageWrapper.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/types/tableAction.ts
  streampark-console/streampark-console-webapp/src/layouts/default/footer/index.vue
  streampark-console/streampark-console-webapp/src/layouts/default/menu/index.vue
  streampark-console/streampark-console-webapp/src/layouts/default/sider/LayoutSider.vue
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/spark/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppResize.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppForm.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppLog.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSql.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/edit.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkAction.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkColumns.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkTableAction.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/index.vue
Labels: WEB UI

#4050 [Improve]: login footer style
  streampark-console/streampark-console-webapp/src/layouts/default/header/index.vue
  streampark-console/streampark-console-webapp/src/settings/siteSetting.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
  streampark-console/streampark-console-webapp/src/views/base/login/LoginSlogan.tsx
Labels: WEB UI

#4051 fix: add email
  streampark-console/streampark-console-webapp/src/settings/siteSetting.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
Labels: WEB UI

#4040 [Feature-3960] Add task distribution for streampark
  helm/streampark/conf/streampark-console-config/application-mysql.yml
  streampark-common/src/test/java/org/apache/streampark/common/utils/UUIDUtilsTestCase.java
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/AsyncExecutorPoolConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/ConsistentHash.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/Murmur3Hash.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/FlinkTaskItem.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/DistributedTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/DistributedTaskEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/DistributedTaskMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/registry/ConsoleRegistryClient.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/DistributedTaskService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/DistributedTaskServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/DistributedTaskMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/ConsistentHashTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/DistributedTaskServiceTest.java
Labels: BUILD, BACKEND

#4049 [Improve] e2e findElement improvement
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/views/resource/variable/components/VariableDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleDrawer.vue
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/VariablesPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/RoleManagementPage.java
Labels: WEB UI

#4057 [Fix]: spark app create & change resource field
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkRender.tsx
Labels: WEB UI

#4059 [Bug]should setJarCheckSum when update application and JarCheckSum change
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
Labels: BACKEND

#4061 [Fix]: flink cluster page style
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/AddCluster.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/EditCluster.vue
Labels: WEB UI

#4063 Add a jobId label to the pods deployed in k8s mode.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

#4064 [Improve]: spark edit mode & fix create error
  streampark-console/streampark-console-webapp/src/api/spark/conf.ts
  streampark-console/streampark-console-webapp/src/enums/sparkEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/spark/app.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/components/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/State.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/detail.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/edit.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkColumns.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkRender.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkTableAction.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/index.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/utils/index.ts
Labels: WEB UI

#4062 Support the ${jobName} variable in Flink configuration.
  streampark-common/src/main/java/org/apache/streampark/common/utils/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BACKEND, FLINK

#4065 [Improve] support the variable in Flink configuration
  streampark-common/src/main/java/org/apache/streampark/common/utils/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkEnvService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/design/public.less
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Add.less
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Modal.vue
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: WEB UI, BACKEND, FLINK

#4067 [Improve]: project modal & flink cluster modal
  streampark-console/streampark-console-webapp/src/api/flink/project/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
Labels: WEB UI

#4070 [Fix]: spark config error
  streampark-console/streampark-console-webapp/src/api/model/baseModel.ts
  streampark-console/streampark-console-webapp/src/api/resource/upload/index.ts
  streampark-console/streampark-console-webapp/src/api/spark/app.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/edit.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkAction.tsx
  streampark-console/streampark-console-webapp/src/views/spark/home/components/Modal.vue
Labels: WEB UI

#4076 [Bug]should not set clusterId for application from appParam when update job
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
Labels: BACKEND

#4083 [Improve] Improved application process control
  streampark-common/src/main/scala/org/apache/streampark/common/conf/Workspace.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SparkProxyController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkApplication.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ProxyService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProxyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SparkApplicationBackUpServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/SparkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/SparkApplicationMapper.xml
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/data/detail.data.ts
  streampark-spark/streampark-spark-client/streampark-spark-client-api/src/main/scala/org/apache/streampark/spark/client/bean/SubmitResponse.scala
  streampark-spark/streampark-spark-client/streampark-spark-client-api/src/main/scala/org/apache/streampark/spark/client/proxy/SparkShimsProxy.scala
  streampark-spark/streampark-spark-client/streampark-spark-client-core/src/main/scala/org/apache/streampark/spark/client/impl/YarnClient.scala
Labels: BUILD, WEB UI, BACKEND, SPARK

#4080 [Improve] Support multi-node deployment
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/registry/ConsoleRegistryClient.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/registry/ConsoleRegistryDataListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/DistributedTaskService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/DistributedTaskServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/DistributedTaskServiceTest.java
Labels: BACKEND

#4084 [Improve]: table actions style at Project display Page
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkHome.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/flinkHome.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Drawer.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
Labels: WEB UI

#4081 [Improve] project-page sync from dev-2.1.5
  .github/workflows/e2e.yml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/GitUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/ObjectUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ProjectService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ProjectBuildTask.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/entity/ProjectTest.java
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkHome.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/cluster/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/cluster/Edit.vue
  streampark-console/streampark-console-webapp/src/views/flink/cluster/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/cluster/useClusterSetting.ts
  streampark-console/streampark-console-webapp/src/views/flink/home/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/home/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/useProject.tsx
  streampark-console/streampark-console-webapp/src/views/spark/home/index.vue
  streampark-console/streampark-console-webapp/src/views/system/member/View.vue
  streampark-console/streampark-console-webapp/src/views/system/role/View.vue
  streampark-console/streampark-console-webapp/src/views/system/team/View.vue
  streampark-console/streampark-console-webapp/src/views/system/token/View.vue
  streampark-console/streampark-console-webapp/src/views/system/user/View.vue
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/Flink116OnRemoteClusterDeployTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/Flink116OnYarnClusterDeployTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/Flink117OnRemoteClusterDeployTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/Flink118OnRemoteClusterDeployTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/FlinkHomeTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/ProjectsManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/common/Constants.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/FlinkHomePage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/ApplicationsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/FlinkSQLEditor.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/clusters/ClusterDetailForm.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/clusters/CommonForm.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/clusters/FlinkClustersPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/clusters/RemoteForm.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/ProjectsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/ExternalLinkPage.java
Labels: INFRA, WEB UI, BACKEND

#4086 [Fix]: spark app error
  streampark-console/streampark-console-webapp/src/api/flink/app.type.ts
  streampark-console/streampark-console-webapp/src/components/Modal/src/props.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/home.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/spark/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/spark/home.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Add.less
  streampark-console/streampark-console-webapp/src/views/spark/app/components/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/ProgramArgs.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSql.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSqlDifferent.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSqlReview.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/State.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/components/VariableReview.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/detail.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/edit.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkAction.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkRender.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkTableAction.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/index.vue
  streampark-console/streampark-console-webapp/src/views/spark/home/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/spark/home/index.vue
Labels: WEB UI

#4088 [Improve] spark-app create-page field order adjustment
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/variable.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/spark/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Add.less
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppForm.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/edit.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkAction.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/styles/spark.less
Labels: WEB UI

#4087 [Fix]: spark operation enum
  streampark-console/streampark-console-webapp/src/enums/sparkEnum.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/components/DetailTab.vue
Labels: WEB UI

#4089 [Improve] Spark-app create-page improvements
  streampark-console/streampark-console-webapp/src/assets/icons/pyspark.svg
  streampark-console/streampark-console-webapp/src/assets/icons/sparksql.svg
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/spark/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppForm.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSql.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkRender.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/index.vue
Labels: WEB UI

#4092 [Improve] spark app submit bug fixed.
  dist-material/release-docs/LICENSE
  pom.xml
  streampark-console/streampark-console-webapp/src/components/Drawer/src/BasicDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/BuildDrawer.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/BuildDrawer.vue
  streampark-spark/pom.xml
  tools/dependencies/known-dependencies.txt
Labels: BUILD, WEB UI, SPARK

#4094 [Improve]: login page style
  streampark-console/streampark-console-webapp/src/assets/images/join_wechat.png
  streampark-console/streampark-console-webapp/src/settings/siteSetting.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/base/login/LoginSlogan.less
  streampark-console/streampark-console-webapp/src/views/base/login/LoginSlogan.tsx
Labels: WEB UI

#4095 [Improve] spark app submit bug fixed.
  qodana.yaml
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationActionServiceImpl.java
  streampark-spark/streampark-spark-client/streampark-spark-client-core/src/main/scala/org/apache/streampark/spark/client/impl/YarnClient.scala
Labels: BACKEND, SPARK

#4096 [Fix]: spark app args data fallback
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppForm.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/edit.vue
Labels: WEB UI

#4099 [Fix] Resolve Spark configuration update issues
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/spark-application.conf
  streampark-console/streampark-console-webapp/src/views/spark/app/components/DetailTab.vue
  streampark-spark/streampark-spark-client/streampark-spark-client-core/src/main/scala/org/apache/streampark/spark/client/impl/YarnClient.scala
Labels: WEB UI, BACKEND, SPARK

#4100 [Improve] spark-app run state style improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/app.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/components/State.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkAction.tsx
  streampark-spark/streampark-spark-client/streampark-spark-client-api/src/main/scala/org/apache/streampark/spark/client/proxy/SparkShimsProxy.scala
Labels: WEB UI, SPARK

#4102 [Feature] Support spark task distribution for streampark
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SparkTaskItem.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkApplication.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/DistributedTaskEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/DistributedTaskService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/DistributedTaskServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/SparkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/DistributedTaskServiceTest.java
Labels: BACKEND
