Repository apache/streampark, pull requests merged in 2025-03, with the labels that each got.

#4197 fix(api): add missing leading slash in CHECK API endpoint
  streampark-console/streampark-console-webapp/src/api/system/token.ts
Labels: WEB UI

#4208 修改项目启动本地开发过程中SpringProperties类的app.home的缺失的文档说明地址
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
Labels: BACKEND

#4202 [Bug] mvnw script "echo" bug fixed
  mvnw
Labels: BUILD

#4205 [Bug] User-defined ingress causes incorrect flinkRestUrl
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategyV1.scala
Labels: FLINK, KUBERNETES

#4214 [bug] Solve the problem that publishing SQL tasks cannot succeed
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
Labels: BUILD, BACKEND

#4218 Solve the problem of error when opening the job details page and erro…
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.2.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationLog.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationLogServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/FlinkApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/FlinkApplicationBuildPipelineServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/FlinkApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationBuildPipelineServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkSavepointServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
Labels: BUILD, BACKEND
