Repository apache/streampark, pull requests merged in 2025-02, with the labels that each got.

#4186 [TLP] drop "incubator" prefix
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/improvement-request.yml
  .github/ISSUE_TEMPLATE/spip-request.yml
  .github/ISSUE_TEMPLATE/umbrella.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/backend.yml
  .github/workflows/docker-push.yml
  .github/workflows/e2e.yml
  .github/workflows/unit-test.yml
  .licenserc.yaml
  DISCLAIMER
  README.md
  pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/runner/StartedUpRunner.java
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-dingTalk.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-lark.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-weCom.ftl
  streampark-console/streampark-console-webapp/README.md
  streampark-console/streampark-console-webapp/src/components/Application/src/AppDarkModeToggle.vue
  streampark-console/streampark-console-webapp/src/components/ContextMenu/src/ContextMenu.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/BasicForm.vue
  streampark-console/streampark-console-webapp/src/components/Page/src/PageFooter.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/HeaderCell.vue
  streampark-console/streampark-console-webapp/src/hooks/web/useLockPage.ts
  streampark-console/streampark-console-webapp/src/layouts/default/footer/index.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/Github.vue
  streampark-console/streampark-console-webapp/src/locales/lang/en/sys.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/sys.ts
  streampark-console/streampark-console-webapp/src/settings/siteSetting.ts
  streampark-console/streampark-console-webapp/src/utils/http/axios/helper.ts
  streampark-console/streampark-console-webapp/src/utils/props.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginSlogan.tsx
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/ProjectsManagementTest.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BUILD, INFRA, WEB UI, DOCS, BACKEND, FLINK

#4187 fixed flink cdc yaml assembly bug.
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-flink/streampark-flink-cdcclient/pom.xml
  tools/dependencies/known-dependencies.txt
Labels: BUILD, BACKEND, FLINK

#4189 [TLP] update README
  README.md
Labels: DOCS

#4190 [Bug] The docker-push.yml ENV syntax bug fixed
  .github/workflows/docker-push.yml
  README.md
  docker/Dockerfile
  docker/README.md
  docker/docker-compose.yaml
  helm/README.md
  helm/streampark/.helmignore
  helm/streampark/Chart.yaml
  helm/streampark/conf/streampark-console-config/ValidationMessages.properties
  helm/streampark/conf/streampark-console-config/application-h2.yml
  helm/streampark/conf/streampark-console-config/application-mysql.yml
  helm/streampark/conf/streampark-console-config/application-pgsql.yml
  helm/streampark/conf/streampark-console-config/application-sso.yml
  helm/streampark/conf/streampark-console-config/application.yml
  helm/streampark/conf/streampark-console-config/kerberos.yml
  helm/streampark/conf/streampark-console-config/logback-spring.xml
  helm/streampark/conf/streampark-console-config/spy.properties
  helm/streampark/templates/NOTES.txt
  helm/streampark/templates/_helpers.tpl
  helm/streampark/templates/configmap.yaml
  helm/streampark/templates/ingress.yaml
  helm/streampark/templates/rbac.yaml
  helm/streampark/templates/service.yaml
  helm/streampark/templates/serviceaccount.yaml
  helm/streampark/templates/streampark.yml
  helm/streampark/values.yaml
  pom.xml
Labels: BUILD, INFRA, DOCS

#4191 [Improve] update key features.
  README.md
Labels: DOCS

#4194 [Improve] Use local docker image cache when build (#4193)
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/impl/FlinkK8sApplicationBuildPipeline.scala
Labels: FLINK
